.page-container {
  @include flexCenter(100%, 100%, none, flex-start, center, column);
  background: linear-gradient(180deg, #b1b1b1 0%, #666666 100%);

  .upper-container {
    @include flexCenter(10%, 100%, none, center, center, column);

    .upper-outset {
      @include flexCenter(82%, 96%, 0.5vh 0.5vh 4vh 4vh, center, center, row);
      box-shadow: 2px 2px 3px #6f6f6f, -2px -2px 3px #d9d9d9;

      .upper-inset {
        @include flexCenter(87%, 97%, 50px, space-around, center, row);
        box-shadow: inset 2px 2px 4px #606060, inset -3px -3px 2px #dfdfdf;

        .upper-inset-outset {
          @include flexCenter(80%, 96%, 50px, space-around, center, row);
          box-shadow: 2px 2px 3px #6f6f6f, -2px -2px 3px #d9d9d9;
          color: #ec6aa0;
          font-size: 25px;
          font-weight: bold;
        }
      }
    }
  }

  .middle-container {
    @include flexCenter(75%, 96%, 5vh 5vh 0.5vh 0.5vh, center, center, row);
    box-shadow: 2px 3px 3px #535353, -1px -3px 3px #d3d3d3;

    .mid-outset {
      @include flexCenter(98.3%, 97%, 4.4vh, center, center, column);
      box-shadow: inset 3px 3px 3px #535353, inset -3px -3px 3px #a9a9a9;

      .mid-inset {
        @include flexCenter(87%, 96%, 4vh 4vh 0.5vh 0.5vh, center, center, row);
        background: linear-gradient(180deg, #c7c7c7 0%, #939393 100%);
        box-shadow: 3px 3px 3px #4e4e4e, -2px -2px 3px #ffffff;
        margin-top: 2.3%;

        .login-container {
          @include flexCenter(98.3%, 97%, 3.3vh, center, center, column);
          box-shadow: inset 2px 2px 3px #6e6e6e, inset -2px -2px 3px #f7f7f7;

          .title-container {
            @include flexCenter(11%, 100%, 0px, center, center, column);
            img {
              height: 85%;
            }
          }

          .user-input-container {
            @include flexCenter(89%, 100%, 0, space-evenly, center, column);

            .user-login_shadow-div-outset {
              @include flexCenter(97%, 95%, 4vh 4vh 2.5vh 2.5vh, space-evenly, center, column);
              box-shadow: 3px 3px 3px #686868, -2px -2px 2px #e7e7e7;

              .user-login-1_title {
                @include flexCenter(11%, 100%, 0, space-evenly, center, column);

                .title_shadow-div-inset {
                  @include flexCenter(75%, 92%, 100vh, center, center, column);
                  box-shadow: inset 2px 2px 3px #6e6e6e, inset -2px -2px 3px #e3e1e1;
                  color: #ec6aa0;
                  font-size: 19px;
                  font-weight: bold;
                }
              }

              .user-login-2_other-logins {
                @include flexCenter(39%, 100%, 0, flex-end, center, column);

                .other-logins-1_google-btn {
                  @include flexCenter(50%, 100%, 0, space-evenly, center, column);

                  .google-btn_shadow-div-outset {
                    @include flexCenter(70%, 90%, 0.5vh, space-evenly, center, row);
                    box-shadow: 2px 2px 3px #686868, -2px -2px 2px #e7e7e7;

                    p {
                      color: white;
                      width: 51%;
                      text-align: start;
                      font-size: 0.95rem;
                    }
                  }
                }
                .other-logins-2_or-container {
                  @include flexCenter(25%, 90%, 0, space-evenly, center, row);
                  color: #e24f8c;

                  .border {
                    height: 2px;
                    background: #949494;
                    width: 40%;
                  }
                }
              }

              .user-login-3_form {
                @include flexCenter(50%, 100%, 0, space-evenly, center, column);

                .login-form {
                  @include flexCenter(96%, 97%, 3.4vh 3.4vh 2.4vh 2.4vh, space-evenly, center, column);
                  box-shadow: inset 3px 3px 3px #686868, inset -2px -2px 2px #e7e7e7;

                  .user-form-container {
                    @include flexCenter(80%, 100%, 0, flex-start, center, column);

                    .login-input-container {
                      @include flexCenter(32%, 100%, 0, flex-end, center, column);

                      .login-input_shadow-div-outset {
                        @include flexCenter(90%, 91%, 0.2em, center, center, row);
                        box-shadow: 3px 3px 3px #686868, -2px -2px 2px #e7e7e7;
                        padding: 0% 2% 0% 2%;

                        .input-container {
                          @include flexCenter(80%, fill-available, 0, center, center, row);
                          position: relative;

                          .login-input-field {
                            @include flexCenter(95%, 95%, 100vh, center, center, column);
                            box-shadow: inset 2px 2px 3px #535353, inset -2px -2px 3px #f1f1f1;
                            padding-left: 5%;
                            background: #919191;

                            &:defined {
                              color: pink;
                            }
                            &::placeholder {
                              color: #d6d6d6;
                            }
                            &:focus {
                              border: 2px solid pink;
                              outline: none !important;
                              color: white;
                              border-radius: 100vh;
                              padding-right: 20%;
                            }
                            &.input-error {
                              &:focus {
                                border: 2px solid #ff7c8c;
                                outline: none !important;
                                color: white;
                                border-radius: 100vh;
                                padding-right: 20%;
                                // background: #ff7c8c;
                                // box-shadow: inset 1px 1px 3px #874a52, inset -1px -1px 3px #f5d2d2;
                              }
                            }
                          }
                        }
                        &.username {
                          border-radius: 1.2em 1.2em 0.2em 0.2em;
                        }
                        &.password {
                          border-radius: 0.2em 0.2em 1.2em 1.2em;
                        }
                      }
                    }
                  }

                  .form__enter-btn--container {
                    @include flexCenter(24%, 100%, 0, space-evenly, center, column);

                    .form__enter-btn {
                      @include flexCenter(70%, 94%, 100vh, center, center, column);
                      box-shadow: 2px 2px 3px #545454, -1px -1px 2px #ffffff;
                      background: linear-gradient(315deg, #2ec291, #68d3b0);

                      h4 {
                        color: white;
                      }

                      &:active {
                        background: linear-gradient(45deg, #2ec291, #68d3b0);
                        box-shadow: inset 2px 2px 3px #186048, inset -2px -2px 2px #c2ffeb;
                      }
                    }

                    .inactive {
                      background: linear-gradient(315deg, #4f7468, #6c8a80);
                      h4 {
                        color: #a6a6a6;
                      }
                      &:active {
                        background: linear-gradient(315deg, #4f7468, #6c8a80);
                        box-shadow: 2px 2px 3px #545454, -1px -1px 2px #ffffff;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

      .switch--container {
        @include flexCenter(13%, 100%, 0, center, center, row);

        .switch--shadow-outset {
          @include flexCenter(81%, 96%, 0.2vh 0.2vh 3.8vh 3.8vh, space-evenly, center, row);
          box-shadow: 3px 3px 3px #535353, -2px -2px 2px #d5d5d5;
          background: #939393;

          .switch--shadow-inset {
            @include flexCenter(80%, 86%, 100vh, center, center, row);
            box-shadow: inset 2px 2px 3px #6a6a6a, inset -2px -2px 3px #c4c4c4;

            .switch__text--container {
              @include flexCenter(100%, 65%, 0, space-evenly, center, row);

              .switch__text {
                color: white;
                font-size: 0.85rem;
              }
            }
          }

          .switch__btn--container {
            @include flexCenter(100%, 35%, 0, space-evenly, center, row);

            .switch__btn {
              @include flexCenter(75%, 90%, 100vh, center, center, row);
              background: linear-gradient(315deg, #e24f8c, #e57da7);
              color: white;
              font-weight: bold;
              box-shadow: 2px 2px 3px #585858, -1px -1px 2px #e6e6e6;

              &:active {
                background: linear-gradient(45deg, #e24f8c, #e57da7);
                box-shadow: inset 2px 2px 3px #70344d, inset -2px -2px 3px #ffe3ef;
              }
            }
          }
        }
      }
    }
  }
}
