@keyframes floatText {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.Home {
  background: linear-gradient(345deg, #000000, #606060);
  position: relative;

  &.Loading {
    background: linear-gradient(359deg, black, #212121, #272727, #272727, #212121, black);
  }
}

.section-1a_toggle-feed {
  @include flexCenter(5%, 100%, 0, center, center, row);
  background: #0000008a;
  position: absolute;
  z-index: 2;

  .toggle-feed-container {
    @include flexCenter(100%, 100%, 0, center, center, row);

    .each-feed_shadow-div-inset {
      @include flexCenter(80%, 25%, 0, center, center, row);

      .each-feed_shadow-div-outset {
        @include flexCenter(76%, 92%, 2em, center, center, column);
        box-shadow: 2px 2px 3px #323232, -2px -2px 3px #404040;

        .each-feed_shadow-div-inset-2 {
          @include flexCenter(77%, 93%, 65px, center, center, column);
          font-size: 0.9rem;
          color: $primary-color-300;
        }
        &:hover {
          background: #f3b9c3;
          .each-feed_shadow-div-inset-2 {
            color: $base-color;
          }
        }
        &.active {
          background: $primary-color-300;
          .each-feed_shadow-div-inset-2 {
            color: $base-color;
          }
        }
      }
    }
  }
}
.transitions {
  background: #efbfbf;
  box-shadow: inset 3px 3px 4px #bd9797, inset -3px -3px 4px #ffe7e7;
  border: 2px solid #df56a0;
}
