@keyframes smallScale {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(1.6);
    opacity: 0;
  }
}

.post-recording {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 5;
}

.post-recording__video-frame {
  @include flexCenter(75%, 100%, 0px, flex-end, center, row);
  background: linear-gradient(323deg, #262626 0%, #474646 100%);

  .post-recording__video-menu {
    @include flexCenter(100%, 25%, 0, flex-start, flex-start, column);
    // background: linear-gradient(314deg, #858585 0%, #a7a7a7 100%);
    background: #a7a7a7;

    .post-recording__choose-thumbnail {
      @include flexCenter(150px, 100%, 0, center, center, row);

      .post-recording__choose-thumbnail--bs-inset {
        @include flexCenter(90%, 90%, 0.2em, center, center, column);
        box-shadow: inset 1px 1px 2px 0px #484848, inset -1px -1px 3px #d4d4d4;

        .post-recording__choose-thumbnail-title {
          @include flexCenter(20%, 100%, 0, flex-start, center, row);

          .post-recording__choose-thumbnail-title--bs-outset {
            @include flexCenter(70%, 90%, 0.2em 2em 2em 0.2em, center, center, row);
            box-shadow: 1px 1px 2px 0px #5c5c5c, -1px -1px 3px #d4d4d4;
            margin-left: 0.3em;
            font-size: 0.7rem;
            color: $primary-color-300;
          }
        }
        .post-recording__choose-thumbnail-btns {
          @include flexCenter(80%, 100%, 0, center, center, row);

          .post-recording__choose-thumbnail-btn {
            @include flexCenter(95%, 100%, 0, center, center, row);

            img {
              height: 100%;
              width: 100%;
              object-fit: contain;
            }
          }
        }
      }
    }

    .post-recording__menu-lyrics {
      @include flexCenter(40%, 100%, 0, flex-start, center, column);

      .post-recording__menu-lyrics-header {
        @include flexCenter(15%, 100%, 0, center, center, row);

        .post-recording__menu-lyrics-header--bs-outset {
          @include flexCenter(80%, 90%, 0.2em 2em 2em 4em, center, center, column);
          font-size: 0.85rem;
          color: $base-color;
          box-shadow: 1px 1px 2px 0px #5c5c5c, -1px -1px 3px #e0e0e0;
        }
      }
    }
  }

  .post-recording__video {
    @include flexCenter(100%, calc(75vh * 0.5625), 0, space-evenly, center, column);
    position: relative;

    video {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    .post-recording__playback {
      @include flexCenter(40px, 98%, 2em 2em 2em 0.2em, center, center, row);
      background: #a8a8a8;
      position: absolute;
      bottom: 3px;

      .record__take-audio {
        @include flexCenter(89%, 98%, 0, center, flex-start, row);

        .record__take-audio--bs-inset {
          @include flexCenter(100%, 100%, 3em, center, center, row);
          box-shadow: inset 1px 1px 3px 0px #3f3f3f, inset -1px -1px 3px #ffffff;

          .record__take-play {
            @include flexCenter(100%, 14%, 0, center, center, row);

            .record__take-play--bs-outset {
              @include flexCenter(75%, 75%, 3em 0.2em 3em 3em, center, center, row);
              box-shadow: 1px 1px 2px 0px #4a4a4a, -1px -1px 2px #e5e3e3;

              .record__take-play--bs-inset {
                @include flexCenter(85%, 85%, 3em, center, center, row);
                box-shadow: inset 1px 1px 2px 0px #4a4a4a, inset -1px -1px 2px #ffffff;

                .record__take-play-btn--wrapper {
                  @include flexCenter(92%, 92%, 3em, center, center, row);
                }
              }
            }
          }

          .record__take-slider {
            @include flexCenter(100%, 60%, 0, flex-start, center, row);

            .record__take-slider--bs-outset {
              @include flexCenter(75%, 98.5%, 0.2em 3em 3em 0.2em, center, center, column);
              box-shadow: 1px 1px 2px 0px #4a4a4a, -1px -1px 2px #e5e3e3;

              .record__take-slider--wrapper {
                @include flexCenter(60%, 100%, 0.2em 3em 3em 0.2em, flex-start, flex-end, row);
                margin-left: 5%;

                input[type="range"] {
                  appearance: none;
                  height: 80%;
                  width: 92%;
                  border-radius: 50px;
                  box-shadow: inset 1px 1px 3px 0px #3f3f3f, inset -1px -1px 3px #ffffff;
                }
                input[type="range"]::-webkit-slider-thumb {
                  appearance: none;
                  height: 10px;
                  width: 20px;
                  margin-left: 2px;
                  border-radius: 50px;
                  cursor: pointer;
                  background: $primary-color-400;
                  transition: background-color 1s ease;
                  box-shadow: inset 1px 1px 2px 0px #ffc9e6, inset -1px -1px 3px #914d6a;
                }
              }
              .record__take-duration--container {
                @include flexCenter(40%, 90%, 0, space-between, center, row);

                .record__take-duration {
                  @include flexCenter(100%, 14%, 0, center, center, row);

                  .record__take-duration-text {
                    color: $base-color;
                    font-size: 0.65rem;
                  }
                }
              }
            }
          }

          .record__other-controls {
            @include flexCenter(100%, 26%, 0, center, center, row);

            .record__other-controls-btn {
              @include flexCenter(100%, 50%, 0, flex-start, center, row);

              .record__other-controls-btn--bs-outset {
                @include flexCenter(75%, 85%, 0.2em, center, center, row);
                box-shadow: 1px 1px 2px 0px #3a3a3a, -1px -1px 2px #f8f8f8;

                .RoundButton__wrapper {
                  button {
                    box-shadow: 1px 1px 2px 0px #5c5c5c, -1px -1px 2px #dcdcdc;
                  }
                }
                &.Volume {
                  border-radius: 2em 0.2em 0.2em 2em;
                  margin-left: 5%;
                }
                &.Fullscreen {
                  border-radius: 0.2em 2em 2em 0.2em;
                }
              }
            }
          }
        }
      }
    }
  }
}

.post-recording__bottom-menu {
  @include flexCenter(20%, 100%, 0, space-between, center, column);
  background: linear-gradient(314deg, #858585 0%, #a7a7a7 100%);

  .record__recordings--container {
    @include flexCenter(70%, 100%, 0, center, center, column);

    .record__recordings {
      @include flexCenter(90%, 100%, 0, center, center, column);

      .record__recordings--bs-outset {
        @include flexCenter(85%, 97%, 3em 3em 0.2em 3em, center, center, column);
        box-shadow: 2px 2px 3px 0px #5d5d5d, -2px -2px 3px #dddddd;

        .record__recordings--bs-inset {
          @include flexCenter(85%, 97%, 3em 3em 0.2em 3em, center, center, row);
          box-shadow: inset 1px 1px 2px 0px #505050, inset -1px -1px 3px #d4d4d4;

          .record__recordings-user-photo {
            @include flexCenter(100%, 20%, 0, center, center, row);

            .record__recordings-user-photo--bs-outset {
              @include flexCenter(85%, 85%, 10em, center, center, row);
              box-shadow: 1px 1px 2px 0px #505050, -1px -1px 3px #d4d4d4;

              .record__recordings-user-photo--bs-inset {
                @include flexCenter(85%, 85%, 10em, center, center, row);
                box-shadow: inset 1px 1px 2px 0px #505050, inset -1px -1px 3px #f1f1f1;

                .record__recordings-user-photo--wrapper {
                  @include flexCenter(80%, 80%, 10em, center, center, row);
                  overflow: hidden;
                }
              }
            }
          }
          .record__recordings-content {
            @include flexCenter(100%, stretch, 0, center, center, row);
            max-width: 82%;

            .record__recordings-details {
              @include flexCenter(100%, 90%, 0, flex-start, center, column);

              .record__select-text--container {
                @include flexCenter(64%, 94%, 0.2em 0.2em 0.2em 2em, flex-start, center, row);
                box-shadow: inset 1px 1px 2px 0px #696969, inset -1px -1px 2px #ebebeb;
                margin-left: 0.25em;
                border: 2px solid #a2a2a2;

                .record__select-text {
                  outline: none;
                  height: 96%;
                  width: 100%;
                  border-radius: 0.2em 0.2em 0.2em 2em;
                  overflow-x: hidden;
                  white-space: nowrap;
                  text-overflow: ellipsis;
                  color: $base-color;
                  font-size: 0.85rem;
                  text-indent: 1em;
                }

                &.caption {
                  width: 96%;
                  border-radius: 6em 3em 3em 0.2em;
                  margin-left: 0.1em;
                }
                &:focus-within {
                  border: 2px solid $primary-color-300;
                }
              }

              .record__recordings-title {
                @include flexCenter(50%, 100%, 0, flex-start, center, row);
                .record__recordings-select--bs-outset {
                  @include flexCenter(70%, 96%, 0.2em 2em 2em 4em, center, center, row);
                  box-shadow: 1px 1px 2px 0px #505050, -1px -1px 3px #d4d4d4;

                  .record__no-takes-text {
                    color: $base-color;
                    font-size: 0.9rem;
                    font-weight: bold;
                  }
                  .record__select-title {
                    @include flexCenter(100%, stretch, 0, flex-start, center, row);

                    .record__select-title--container {
                      @include flexCenter(100%, 30%, 0, center, center, row);

                      .record__select-title--bs-outset {
                        @include flexCenter(77%, 90%, 2em 0.2em 0.2em 2em, center, center, row);
                        box-shadow: inset 2px 2px 2px 0px #656565, inset -2px -2px 3px #d4d4d4;

                        .record__select-title-text {
                          color: $primary-color-400;
                          font-size: 0.8rem;
                          font-weight: bold;
                        }
                      }
                    }
                  }

                  .record__select-dropdown {
                    @include flexCenter(100%, 20%, 0, flex-start, center, row);

                    .record__select-dropdown-btn {
                      @include flexCenter(70%, 93%, 0.3em 2em 2em 0.3em, center, center, row);
                      box-shadow: inset 1px 1px 2px 0px #696969, inset -1px -1px 2px #c5c5c5;

                      .record__select-take-number {
                        font-size: 0.65rem;
                        color: $base-color;
                        margin-left: 0.5em;
                      }
                    }
                  }
                }
              }
              .record__recordings-caption {
                @include flexCenter(50%, 100%, 0, flex-start, flex-start, row);
                .record__recordings-caption--bs-outset {
                  @include flexCenter(85%, 96%, 4em 2em 2em 0.2em, center, center, row);
                  box-shadow: 1px 1px 2px 0px #505050, -1px -1px 3px #d4d4d4;
                }
              }

              .record__recordings-btn {
                @include flexCenter(50%, 100%, 0, center, center, row);
                padding-right: 0.25em;

                .record__recordings-btn {
                  @include flexCenter(75%, 48%, 0, center, center, column);

                  .RoundButton__wrapper {
                    .RoundButton__inset {
                      box-shadow: inset 1px 1px 3px 0px #2f2f2f, inset -1px -1px 2px #ffffff;

                      button {
                        box-shadow: 1px 1px 3px 0px #292929, -1px -1px 2px #f1f1f1;
                      }
                    }
                  }
                }
              }
            }
            .record__recordings-delete {
              @include flexCenter(100%, 10%, 0, center, center, row);
            }
          }
        }
      }
    }
  }

  .post-recording__bottom-menu-btns {
    @include flexCenter(30%, 100%, 0, center, flex-start, row);

    .post-recording__bottom-menu-btns--bs-inset {
      @include flexCenter(90%, 97%, 2em, center, center, row);
      box-shadow: inset 2px 2px 2px 0px #5c5c5c, inset -2px -2px 3px #d4d4d4;

      .post-recording__action-btn {
        @include flexCenter(100%, 100%, 0, center, center, row);

        p {
          color: $base-color;
          font-size: 0.9rem;
        }

        &.Draft {
          width: 35%;
        }
        &.Post {
          width: 65%;
        }

        .post-recording__action-btn--bs-outset {
          @include flexCenter(74%, 97%, 2em, center, center, row);
          box-shadow: 2px 2px 2px 0px #5e5e5e, -1px -1px 2px #e9e9e9;

          &.Post {
            background: $secondary-color-300;
            color: $base-color;
          }
          .post-recording__action-btn-saving {
            @include flexCenter(100%, auto, 0, center, center, row);
          }
        }
      }
    }
  }
}
.post-recording__menu-add-btn {
  @include flexCenter(40px, 100%, 0, center, center, row);

  .post-recording__menu-add-btn--bs-inset {
    @include flexCenter(80%, 95%, 2em, center, center, row);
    box-shadow: inset 1px 1px 2px 0px #484848, inset -1px -1px 3px #f4f4f4;

    .post-recording__menu-add-btn--bs-outset {
      @include flexCenter(80%, 92%, 2em, center, center, row);
      box-shadow: 1px 1px 2px 0px #5c5c5c, -1px -1px 3px #d4d4d4;

      background: $primary-color-300;
      color: $base-color;
      font-size: 0.9rem;
    }
  }
}

.post-recording__lyrics {
  @include flexCenter(50%, 100%, 0, center, center, row);
  position: absolute;
  top: 0;
  z-index: 1;

  .post-recording__lyrics--bs-outset {
    @include flexCenter(95%, 95%, 0.2em, flex-start, center, column);
    background: $primary-color-300;
    .post-recording__lyrics-header {
      @include flexCenter(15%, 100%, 0, flex-start, center, column);
    }
    .post-recording__lyrics--wrapper {
      @include flexCenter(85%, 100%, 0, center, center, column);
      overflow: scroll;
      p {
        font-size: 0.8rem;
        color: white;
      }
    }
  }

  &.LyricsExpanded {
    height: 100%;
    .post-recording__lyrics--bs-outset {
      height: 97%;
    }
  }
}
.post-recording__thumbnail {
  @include flexCenter(100%, 100%, 0, center, center, column);
  position: absolute;
  z-index: 3;
  top: 0;
  background: linear-gradient(314deg, #858585 0%, #a7a7a7 100%);

  .post-recording__thumbnail-header {
    @include flexCenter(5%, 100%, 0, center, center, row);

    .post-recording__thumbnail-header--bs-inset {
      @include flexCenter(90%, 95%, 2em, center, center, row);
      box-shadow: inset 1px 1px 2px 0px #484848, inset -1px -1px 3px #f4f4f4;

      .post-recording__thumbnail-header-close {
        @include flexCenter(100%, 9%, 0, center, center, column);
      }
      .post-recording__thumbnail-header-title {
        @include flexCenter(100%, 91%, 0, center, center, column);

        .post-recording__thumbnail-header-title--bs-outset {
          @include flexCenter(70%, 97%, 2em, center, center, column);
          box-shadow: 1px 1px 2px 0px #5c5c5c, -1px -1px 3px #d4d4d4;

          .post-recording__thumbnail-header-title-text {
            font-size: 0.9rem;
            color: $base-color;
          }
        }
      }
    }
  }
  .post-recording__thumbnail-video {
    @include flexCenter(85%, 100%, 0, center, center, row);
  }
  .post-recording__thumbnail-seek {
    @include flexCenter(10%, 100%, 0, center, center, row);

    .post-recording__thumbnail-seek--bs-inset {
      @include flexCenter(85%, 85%, 3em, center, center, column);
      box-shadow: inset 1px 1px 2px 0px #484848, inset -1px -1px 3px #f4f4f4;

      .post-recording__thumbnail-input--container {
        @include flexCenter(50%, 100%, 0, center, center, row);

        .post-recording__thumbnail-input--bs-outset {
          @include flexCenter(75%, 90%, 2em 2em 2em 0.2em, center, center, row);
          box-shadow: 1px 1px 2px 0px #5c5c5c, -1px -1px 3px #d4d4d4;

          input[type="range"] {
            appearance: none;
            height: 70%;
            width: 97%;
            border-radius: 50px;
            box-shadow: inset 1px 1px 3px 0px #3f3f3f, inset -1px -1px 3px #ffffff;
          }
          input[type="range"]::-webkit-slider-thumb {
            appearance: none;
            height: 14px;
            width: 20px;
            margin-left: 2px;
            border-radius: 50px;
            cursor: pointer;
            background: $primary-color-400;
            transition: background-color 1s ease;
            box-shadow: inset 1px 1px 2px 0px #ffc9e6, inset -1px -1px 3px #914d6a;
          }
        }
      }

      .post-recording__thumbnail-select {
        @include flexCenter(50%, 100%, 0, center, center, row);

        .post-recording__thumbnail-select-btn {
          @include flexCenter(80%, 90%, 2em, center, center, row);
          box-shadow: 1px 1px 2px 0px #5c5c5c, -1px -1px 3px #d4d4d4;
          background: $secondary-color-300;
          font-size: 0.85rem;
          color: $base-color;
        }
      }
    }
  }
}
