.SongScreen {
  background-size: 100% 58%;
  background-position-y: 15%;

  .song-screen--container {
    position: relative;
    height: 100%;
    width: 100%;

    .songscreen__header--container {
      @include flexCenter(12%, 100%, 0em 0em 0em 2.8em, space-evenly, center, row);
      // background: linear-gradient(323deg, #333333 0%, #4f4f4f 100%);
      background: linear-gradient(180deg, #b1b1b1 0%, #6f6f6f 100%);
      box-shadow: 0px 7px 60px 10px #303030;
      z-index: 1;

      .songscreen__header--shadow-outset {
        @include flexCenter(90%, 97%, 0.3em 0.3em 0.3em 2.7em, center, center, row);
        box-shadow: 2px 2px 3px #424242, -2px -2px 3px 0px #dfdfdf;

        .songscreen__header--shadow-inset {
          @include flexCenter(92%, 97.5%, 0.2em 0.2em 0.2em 2.5em, center, center, row);
          box-shadow: inset 2px 2px 3px #545454, inset -2px -2px 3px 0px #bfbfbf;

          .songscreen__exit--container {
            @include flexCenter(100%, 12%, 0, center, center, row);

            .songscreen__exit-btn {
              @include flexCenter(85%, 73%, 0.3em 0.3em 0.3em 10em, center, flex-start, row);
              box-shadow: 2px 2px 3px #424242, -1px -1px 3px 0px #efefef;

              .songscreen__exit-btn--shadow-inset {
                @include flexCenter(29%, 83%, 0.2em, center, center, row);
                box-shadow: inset 1px 1px 4px #464646, inset -1px -1px 3px 0px #f8f8f8;
                margin-top: 0.25em;

                img {
                  height: 90%;
                  width: 100%;
                }
              }
              &:hover {
                background: #868686;
                box-shadow: 2px 2px 3px #424242, -1px -1px 3px 0px #d0d0d0;
                .songscreen__exit-btn--shadow-inset {
                  box-shadow: inset 1px 1px 4px #3e3e3e, inset -1px -1px 3px 0px #cecece;
                }
              }
              &:active {
                background: #7f7f7f;
                box-shadow: inset 2px 2px 3px #3c3c3c, inset -1px -1px 3px 0px #c2c2c2;
                .songscreen__exit-btn--shadow-inset {
                  box-shadow: inset 1px 1px 4px #1c1c1c, inset -1px -1px 3px 0px #dadada;
                }
              }
            }
          }
          .songscreen__title--container {
            @include flexCenter(100%, 88%, 0, flex-start, center, row);

            .songscreen__title--shadow-inset {
              @include flexCenter(86%, 98%, 0.3em, center, center, row);
              box-shadow: 2px 2px 3px #505050, -1px -1px 3px 0px #dfdfdf;

              .songscreen__photo--container {
                @include flexCenter(100%, 25%, 0, center, center, row);

                .songscreen__photo--shadow-inset {
                  @include flexCenter(88%, 91%, 0.3em 3em 3em 0.3em, flex-end, center, row);
                  box-shadow: inset 2px 2px 3px #545454, inset -2px -2px 3px 0px #bfbfbf;

                  .songscreen__photo--shadow-outset {
                    @include flexCenter(3em, 3em, 100vh, center, center, row);
                    box-shadow: 2px 2px 3px #505050, -1px -1px 3px 0px #dfdfdf;
                    margin-right: 9%;
                    overflow: hidden;

                    img {
                      height: 90%;
                      width: 90%;
                      border-radius: 100vh;
                    }
                  }
                }
              }

              .songscreen__song-data--container {
                @include flexCenter(100%, 75%, 0, center, center, column);

                .songscreen__song-title--container {
                  @include flexCenter(42%, 100%, 0, flex-start, flex-end, row);

                  .songscreen__song-title--shadow-inset {
                    @include flexCenter(86%, 97%, 0.2em 0.2em 0.2em 2em, flex-end, center, row);
                    box-shadow: inset 2px 2px 3px #7f3352, inset -2px -2px 3px 0px #ffd5e6;
                    background: #fa80b3;
                    position: relative;
                    overflow: hidden;

                    .songscreen__song-index {
                      width: 20%;
                      color: rgb(204, 204, 204);
                      font-size: 0.7rem;

                      span {
                        color: #e24f8c;
                        font-size: 0.7rem;
                        margin-right: 0.25em;
                        font-weight: bold;
                      }
                    }
                  }
                }

                .songscreen__song-data {
                  @include flexCenter(58%, 100%, 0, flex-start, flex-start, column);

                  p {
                    @include flexCenter(32%, 95%, 0, flex-start, center, row);
                    color: #bfbfbf;
                    font-size: 0.7rem;
                    font-weight: bold;
                    padding-left: 5%;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    span {
                      font-size: 0.8rem;
                      color: #ddafb8;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    .song-video-frame {
      @include flexCenter(48%, 100%, 40px 40px 0px 0px, center, center, column);
      position: relative;

      .song-lyric-container {
        @include flexCenter(94%, 95%, 7px, flex-start, flex-start, column);
        overflow-y: scroll;
        background: #00000094;

        .each-lyric-container {
          @include flexCenter(initial, 100%, 0px, flex-start, flex-start, row);

          .each-lyric-no {
            color: #ffc6de;
            font-size: 10px;
            margin-left: 1%;
          }

          .each-lyric-line {
            font-size: 13px;
            margin-left: 1%;
            color: #ec6aa0;
            text-align: start;
          }
        }
      }
    }
    .show {
      opacity: 1;
    }
    .hide {
      opacity: 0;
    }

    .songscreen__interactions--container {
      @include flexCenter(40%, 100%, 2em 2em 0em 0em, center, center, column);
      background: linear-gradient(180deg, #b1b1b1 0%, #636363 100%);
      z-index: 1;

      .songscreen__play--container {
        @include flexCenter(70%, 100%, 0px, center, center, column);

        .songscreen__play--shadow-inset {
          @include flexCenter(95%, 97%, 1.8em 1.8em 0.3em 0.3em, center, center, column);
          box-shadow: inset 2px 2px 3px #484848, inset -2px -2px 3px 0px #c5c5c5;

          .songscreen__play--shadow-outset {
            @include flexCenter(94%, 96%, 1.6em, center, center, column);
            box-shadow: 2px 2px 3px #525252, -1.5px -1.5px 3px 0px #e5e5e5;

            .songscreen__play {
              @include flexCenter(74%, 100%, 0, center, center, row);

              .songscreen__navigate {
                @include flexCenter(100%, 15%, 0, center, center, column);

                .songscreen__navigate-btn {
                  @include flexCenter(93%, 75%, 1.3em 0.2em 0.2em 0.2em, center, center, column);
                  box-shadow: 2px 2px 3px #363636, -1px -1px 3px 0px #ffffff;
                  background: #ec6aa0;

                  .songscreen__navigate-btn-icon {
                    @include flexCenter(30%, 100%, 0, center, center, column);
                  }

                  &:active {
                    background: #e24f8c;
                    border: 1px solid #6f6f6f;
                    box-shadow: inset 3px 3px 5px #863054, inset -3px -3px 3px 0px #ef7cab;
                  }
                  &:hover {
                    background: #e24f8c;
                  }
                }
              }
              .songscreen__navigate.Next {
                .songscreen__navigate-btn {
                  border-radius: 0.2em 1.5em 0.2em 0.2em;
                }
              }

              .songscreen__play-btn--container {
                @include flexCenter(100%, 70%, 0, center, center, column);

                .songscreen__play-btn--shadow-inset {
                  @include flexCenter(94%, 99%, 1em, center, center, column);
                  box-shadow: inset 2px 2px 3px #565656, inset -2px -2px 3px 0px #d1d1d1;

                  .songscreen__play-btn {
                    @include flexCenter(7.5em, 7.5em, 100vh, center, center, column);
                    box-shadow: 2px 2px 3px #424242, -2px -2px 3px 0px #d1d1d1;

                    .songscreen__play-btn--shadow-outset {
                      @include flexCenter(85%, 85%, 100vh, center, center, column);
                      box-shadow: 2px 2px 3px #424242, -2px -2px 3px 0px #d1d1d1;

                      .songscreen__play-btn--shadow-outset2 {
                        @include flexCenter(80%, 80%, 100vh, center, center, column);
                        box-shadow: 2px 2px 3px #424242, -2px -2px 3px 0px #d1d1d1;

                        .songscreen__play-btn--shadow-inset {
                          @include flexCenter(88%, 88%, 100vh, center, center, column);
                          box-shadow: inset 2px 2px 3px #844d64, inset -2px -2px 3px 0px #ffbfd9;
                          background: #ec6aa0;

                          img {
                            height: 65%;
                            width: 65%;
                            margin-left: 10%;
                            filter: invert(100%) sepia(3%) saturate(0%) hue-rotate(293deg) brightness(107%)
                              contrast(103%);
                          }
                          &:hover {
                            background: #e24f8c;
                          }
                        }

                        &:active {
                          height: 85%;
                          width: 85%;
                          box-shadow: inset 2px 2px 3px #5b5b5b, inset -2px -2px 3px 0px #c3c3c3;
                          .songscreen__play-btn--shadow-inset {
                            height: 83%;
                            width: 83%;
                            box-shadow: 2px 2px 3px #494949, -1px -1px 3px 0px #ffcde1;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }

            .songscreen__audioslider--container {
              @include flexCenter(25%, 100%, 0px, center, flex-start, row);

              .songscreen__audioslider--shadow-inset {
                @include flexCenter(94%, 98%, 0.2em 0.2em 1.5em 1.5em, center, center, row);
                box-shadow: inset 2px 2px 3px #545454, inset -2px -2px 3px 0px #bfbfbf;

                .songscreen__audioslider--shadow-outset {
                  @include flexCenter(72%, 95%, 100vh, center, center, row);
                  box-shadow: 2px 2px 3px #424242, -1px -1px 3px 0px #e3e3e3;

                  .play-slider_shadow-div-inset {
                    @include flexCenter(100%, 99%, 50px, flex-end, center, column);

                    input[type="range"] {
                      appearance: none;
                      height: 40%;
                      width: 94%;
                      margin-left: 1%;
                      border-radius: 2em;
                      background: #767676;
                      box-shadow: inset 2px 2px 2px 0px #555555, inset -1px -1px 2px #e4e4e4;
                    }

                    input[type="range"]::-webkit-slider-thumb {
                      appearance: none;
                      height: 0.7em;
                      width: 1.2em;
                      border-radius: 50px;
                      cursor: pointer;
                      background: #878787;
                      transition: background-color 1s ease;
                      box-shadow: inset 1px 1px 1px 0px #c4c4c4, inset -1px -1px 1px #373737;
                    }

                    .time-text-container {
                      @include flexCenter(50%, 90%, 8px, space-between, center, row);
                      padding: 0% 3%;

                      .time-text-start {
                        font-size: 10px;
                        color: white;
                      }
                      .time-text-end {
                        font-size: 11px;
                        color: white;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

      .songscreen__social-btns--container {
        @include flexCenter(30%, 100%, 0px, center, flex-start, row);
        // border-bottom: 1px solid #616161;

        .songscreen__social-btns--shadow-outset {
          @include flexCenter(94%, 97%, 0.3em 0.3em 2em 2em, center, center, row);
          box-shadow: 2px 2px 3px #3c3c3c, -2px -2px 3px 0px #c3c3c3;

          .songscreen__social-btns--shadow-inset {
            @include flexCenter(90%, 97.5%, 0.3em 0.3em 1.7em 1.7em, center, center, row);
            box-shadow: inset 2px 2px 3px #4c4c4c, inset -2px -2px 3px 0px #9c9c9c;

            .songscreen__btn--container {
              @include flexCenter(100%, 33%, 0, space-around, center, column);

              .songscreen__btn {
                @include flexCenter(85%, 94%, 0.25em, center, center, column);
                // margin: 0% 2%;
                box-shadow: 2px 2px 3px #424242, -1px -1px 3px 0px #d1d1d1;

                .social-button {
                  @include flexCenter(70%, 100%, 0, center, center, row);
                  color: #ec6aa0;

                  .follow {
                    height: 2.8em;
                    width: 2.8em;
                    margin-left: 10%;
                  }
                  .like {
                    height: 70%;
                    width: 70%;
                  }
                  .comment {
                    height: 55%;
                    width: 55%;
                  }

                  button:hover {
                    background: #f3b9c3;
                    box-shadow: 2px 2px 3px #424242, -1px -1px 2px 0px #ffffff;
                    img {
                      filter: invert(100%) sepia(3%) saturate(0%) hue-rotate(293deg) brightness(107%) contrast(103%);
                    }
                  }

                  &.pushed {
                    button {
                      box-shadow: inset 3px 3px 5px #662e46, inset -2px -2px 2px #fcb5db;
                      background: #ec6aa0;
                      border: 1px solid #e24f8c;
                      // transition: all 0.2s ease-in;

                      img {
                        filter: invert(100%) sepia(3%) saturate(0%) hue-rotate(293deg) brightness(107%) contrast(103%);
                      }
                      &:hover {
                        background: #f3b9c3;
                        box-shadow: inset 3px 3px 5px #7f4c61, inset -2px -2px 2px #ffffff;
                        border: 1px solid #ff84b7;
                      }
                    }
                  }
                }

                .songscreen__text--container {
                  @include flexCenter(30%, 100%, 0, center, flex-end, row);

                  .songscreen__text--wrapper {
                    @include flexCenter(80%, 93%, 0.25em, center, center, row);

                    box-shadow: inset 2px 2px 3px #66364a, inset -1px -1px 3px 0px #ffd3e6;
                    // margin-bottom: 0.3em;
                    background: #ec6aa0;
                    .songscreen__text {
                      font-size: 0.75rem;
                      font-weight: bold;
                      color: white;
                    }
                    .songscreen__text.num {
                      color: #ffb5d4;
                      margin-right: 0.35em;
                    }
                  }
                }
              }
            }

            .songscreen__btn--container.follow {
              .songscreen__btn {
                border-radius: 0.25em 0.25em 0.25em 1.5em;
              }
            }
            .songscreen__btn--container.comment {
              .songscreen__btn {
                border-radius: 0.25em 0.25em 1.5em 0.25em;
              }
            }
          }
        }
      }
    }
  }
}
