.SongScreen {
  background-size: 100% 58%;
  background-position-y: 15%;

  .song-screen--container {
    position: relative;
    height: 100%;
    width: 100%;

    .songscreen__header--container {
      // 12% height
      @include flexCenter(5%, 100%, 0em 0em 0em 2.8em, space-evenly, center, row);
      // background: linear-gradient(323deg, #333333 0%, #4f4f4f 100%);
      // background: linear-gradient(180deg, #b1b1b1 0%, #6f6f6f 100%);
      // box-shadow: 0px 7px 60px 10px #303030;
      z-index: 2;

      position: absolute;
      background: rgba(0, 0, 0, 0.5411764706);

      .songscreen__exit--container {
        @include flexCenter(100%, 15%, 0, center, center, row);

        .songscreen__exit-btn {
          @include flexCenter(75%, 75%, 0em 0em 0em 2.8em, space-evenly, center, row);
          box-shadow: 2px 2px 3px #323232, -2px -2px 3px #404040;
        }
      }

      .songscreen__title--container {
        @include flexCenter(100%, 85%, 0, flex-start, center, row);

        .songscreen__title {
          @include flexCenter(75%, 95%, 0em 2em 2em 0em, center, center, row);
          box-shadow: 2px 2px 3px #323232, -2px -2px 3px #404040;

          .songscreen__song-index {
            width: 20%;
            color: rgb(204, 204, 204);
            font-size: 0.7rem;

            span {
              color: #e24f8c;
              font-size: 0.7rem;
              margin-right: 0.25em;
            }
          }
        }
      }
    }
  }
}
