.buttons_shadow-div-outset {
  @include flexCenter(85%, 76%, 0.2em, center, center, row);
  background: #ec6aa0;
  border: none;
  color: white;
  box-shadow: 2px 2px 3px 0px #4f4e4e, -1px -1px 2px #c4c4c4;

  img {
    height: 1.6em;
    width: 1.6em;
    filter: invert(100%) sepia(3%) saturate(0%) hue-rotate(293deg) brightness(107%) contrast(103%);
  }
  &:active {
    background: initial;
    box-shadow: inset 2px 2px 3px 0px #3f3f3f, inset -1px -1px 3px #ffffff;

    img {
      filter: invert(42%) sepia(65%) saturate(2055%) hue-rotate(310deg) brightness(100%) contrast(98%);
    }
  }
  &.Delete {
    background: initial;
    border-radius: 100%;
  }
}

.EditLyrics {
  background: #545454;

  .edit-lyrics__header {
    @include flexCenter(7%, 100%, 0px, center, center, row);

    .edit-lyrics__header--shadow-inset {
      @include flexCenter(85%, 97%, 0.2em 1.5em 0.2em 1.5em, center, center, row);
      box-shadow: inset 2px 2px 3px 0px #313131, inset -2px -2px 3px #898989;

      .edit-lyrics__exit--container {
        @include flexCenter(100%, 11%, 0, flex-start, center, row);

        .edit-lyrics__exit-btn {
          @include flexCenter(77%, 74%, 0.2em 0.2em 0.2em 1.2em, center, center, column);
          background: #ec6aa0;
          box-shadow: 2px 2px 3px 0px #333333, -1px -1px 2px #c3c3c3;
          margin-left: 0.3em;

          img {
            height: 85%;
            width: 85%;
            filter: invert(100%) sepia(3%) saturate(0%) hue-rotate(293deg) brightness(107%) contrast(103%);
          }
          &:active {
            background: #f691bb;
            box-shadow: inset 2px 2px 3px #a55a79, inset -2px -2px 2px 0px #ffe3ef;
          }
          &:hover {
            background: #e08daf;
          }
        }
      }

      .edit-lyrics__title--container {
        @include flexCenter(100%, 40%, 0, flex-start, center, row);
        .edit-lyrics__title--shadow-outset {
          @include flexCenter(77%, 96%, 0.2em, center, center, column);
          box-shadow: 2px 2px 3px 0px #333333, -1px -1px 2px #858585;

          .edit-lyrics__title {
            color: white;
            width: 100%;
            font-size: 0.9rem;
            font-weight: bold;
            text-align: start;
            text-indent: 5%;
          }
          .edit-lyrics__title.name {
            color: #ec6aa0;
          }
        }
      }
      .edit-lyrics__select-song {
        @include flexCenter(100%, 49%, 0, flex-start, center, row);

        .edit-lyrics__select-song--shadow-outset {
          @include flexCenter(77%, 97%, 0.2em 1.3em 0.2em 0.2em, center, center, column);
          box-shadow: 2px 2px 3px 0px #333333, -1px -1px 2px #858585;

          .edit-lyrics__select-song--shadow-inset {
            @include flexCenter(80%, 96%, 0.2em 1.3em 0.2em 0.2em, center, center, row);
            box-shadow: inset 2px 2px 3px 0px #333333, inset -2px -2px 3px #7e7e7e;

            .edit-lyrics__select-song-btn {
              @include flexCenter(66%, 91%, 100vh, flex-start, center, row);
              box-shadow: 2px 2px 3px 0px #333333, -1px -1px 2px #838383;

              .edit-lyrics__select-song-text {
                height: 100%;
                width: 100%;
                font-size: 0.85rem;
                color: #ec6aa0;
                text-indent: 2%;
                text-align: start;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
              }
              &:hover {
                background: #ec6aa0;
                box-shadow: 2px 2px 3px 0px #333333, -1px -1px 2px #cbcbcb;
                .edit-lyrics__select-song-text {
                  color: white;
                }
              }
              &:active {
                background: #ec6aa0;
                box-shadow: inset 2px 2px 3px 0px #712f49, inset -2px -2px 2px #fd9ec5;
                .edit-lyrics__select-song-text {
                  color: white;
                }
              }
            }
          }
        }
      }
    }
  }

  .edit-lyrics__lyrics--container {
    @include flexCenter(76%, 100%, 2.3em 0em 0em 0em, flex-start, center, column);
    // background: linear-gradient(337deg, #5d5d5d 0%, #8d8d8d 100%);
    background: linear-gradient(314deg, #858585 0%, #a7a7a7 100%);
    box-shadow: 0px -5px 25px #00000099;
    position: absolute;

    .edit-lyrics__lyrics-list {
      @include flexCenter(initial, 97%, 2em 0em 0em 0em, flex-start, center, column);
      max-height: 93%;
      margin-top: 1.5%;
      overflow-y: scroll;

      .lyrics-list-item {
        @include flexCenter(initial, 100%, 2em 0.3em, center, flex-start, row);
        list-style-type: none;
        min-height: 80px;
        margin-bottom: 2%;
        box-shadow: inset 2px 2px 3px 0px #4a4a4a, inset -2px -2px 3px #c3c3c3;

        .list-item-1_edit-lyrics {
          @include flexCenter(100%, 100%, 0, center, center, column);

          .edit-lyrics-container {
            @include flexCenter(65%, 100%, 0, center, flex-end, row);

            .edit-lyrics_shadow-div-outset {
              @include flexCenter(88%, 96%, 2em 0.3em 0.3em 2em, center, center, row);
              box-shadow: 3px 3px 5px 0px #545454, -2px -2px 2px #cfcfcf;

              .buttons-container {
                @include flexCenter(100%, 20%, 8px, center, center, row);

                .buttons-container_shadow-div-inset {
                  @include flexCenter(89%, 93%, 30px 5px 5px 30px, space-evenly, center, row);
                  box-shadow: inset 2px 2px 4px 0px #3f3f3f, inset -2px -2px 2px #e6e6e6;

                  .bar-number-container {
                    @include flexCenter(100%, 40%, 8px, flex-end, center, row);

                    .bar-num_shadow-div-inset {
                      @include flexCenter(89%, 92%, 50px, flex-end, center, row);

                      .bar-num_shadow-div-outset {
                        @include flexCenter(85%, 85%, 50px 0px 0px 50px, center, center, row);
                        box-shadow: 2px 2px 6px 0px #3a3a3a, -1px -1px 2px #ffffff;
                        // background: #565555;
                        color: pink;
                        font-size: 13px;
                      }
                    }
                  }

                  .buttons_shadow-div-inset {
                    @include flexCenter(89%, 60%, 50px, center, center, row);
                    // box-shadow: inset 2px 2px 3px 0px #4a4a4a, inset -2px -2px 3px #a3a3a3;

                    // .buttons_shadow-div-outset {
                    //   @include flexCenter(85%, 76%, 3px, center, center, row);
                    //   background: #ec6aa0;
                    //   border: none;
                    //   color: white;
                    //   box-shadow: 2px 2px 3px 0px #4f4e4e, -1px -1px 2px #c4c4c4;

                    //   img {
                    //     height: 1.6em;
                    //     width: 1.6em;
                    //     filter: invert(100%) sepia(3%) saturate(0%) hue-rotate(293deg) brightness(107%) contrast(103%);
                    //   }
                    //   &:active {
                    //     background: initial;
                    //     box-shadow: inset 2px 2px 3px 0px #3f3f3f, inset -1px -1px 3px #ffffff;

                    //     img {
                    //       filter: invert(42%) sepia(65%) saturate(2055%) hue-rotate(310deg) brightness(100%)
                    //         contrast(98%);
                    //     }
                    //   }
                    // }
                  }
                }
              }

              .each-lyric-container {
                @include flexCenter(100%, 65%, 0, flex-start, center, row);
                overflow-y: scroll;

                .confirm-delete-container {
                  @include flexCenter(100%, 100%, 0, center, center, column);

                  .confirm-delete-title {
                    @include flexCenter(30%, 100%, 0, flex-start, flex-start, row);

                    p {
                      height: 16px;
                      font-size: 13px;
                      color: white;
                      margin-left: 4px;
                    }
                  }
                  .word-btn-container {
                    @include flexCenter(70%, 100%, 8px, flex-end, center, row);

                    .word-cancel {
                      @include flexCenter(60%, 25%, 2em 0.3em 0.3em 2em, center, center, row);
                      margin-right: 2%;
                      background: initial;
                      border: none;
                      box-shadow: 2px 2px 3px 0px #4d4d4d, -1px -1px 3px #cdcdcd;
                      color: white;
                      font-size: 12px;
                    }
                    .word-delete {
                      @include flexCenter(60%, 25%, 0.3em 2em 2em 0.3em, center, center, row);
                      margin-right: 21%;
                      background: #ec6aa0;
                      border: none;
                      box-shadow: 2px 2px 3px 0px #4d4d4d, -1px -1px 3px #cdcdcd;
                      color: white;
                      font-size: 12px;
                    }
                  }
                }

                .each-word-container {
                  @include flexCenter(92%, 99%, 0, flex-start, flex-start, row);
                  flex-wrap: wrap;

                  .edit-lyrics__text {
                    font-size: 0.9rem;
                    color: white;
                    margin-left: 4px;
                    text-align: start;
                    line-height: 1;

                    &.edited {
                      color: #e24f8c;
                    }
                  }

                  .edit-lyrics__form {
                    @include flexCenter(100%, 100%, 0, center, center, row);

                    .edit-lyrics__edit-field {
                      @include flexCenter(82%, 94%, 0.5em, center, center, row);
                      font-size: 0.9rem;
                      background: #797979;
                      color: white;
                      box-shadow: inset 2px 2px 3px 0px #474747, inset -2px -2px 3px #bdbdbd;
                      border: 2px solid #828282;
                      padding: 1% 3% 1% 3%;
                      line-height: 1;

                      &::placeholder {
                        color: white;
                        text-align: start;
                        text-indent: 3%;
                      }
                      &:focus {
                        border: 2px solid pink;
                        outline: none !important;
                        border-radius: 0.5em;
                      }
                    }
                  }
                }
              }

              .close-btn-container {
                @include flexCenter(100%, 15%, 0, flex-end, center, row);

                .close-btn_shadow-div-inset {
                  @include flexCenter(87%, 3.3em, 2em 0.2em 2em 2em, center, center, row);
                  box-shadow: inset 2px 2px 3px 0px #474747, inset -2px -2px 3px #c5c5c5;
                  margin-right: 0.3em;
                }
              }
            }
          }

          .list-item-2_lyric-suggestions {
            @include flexCenter(35%, 100%, 0, center, center, row);

            .move-handle--container {
              @include flexCenter(100%, 10%, 0, center, center, row);

              .move-handle__btn {
                @include flexCenter(70%, 70%, 0.1em, center, center, row);
                box-shadow: 2px 2px 3px 0px #5e5e5e, -1px -1px 2px #c7c7c7;

                img {
                  filter: invert(100%) sepia(3%) saturate(0%) hue-rotate(293deg) brightness(107%) contrast(103%);
                  height: 80%;
                  width: 80%;
                }
              }
            }
            .get-lyrics--container {
              @include flexCenter(100%, 60%, 0, flex-start, center, row);
            }

            .undo-redo--container {
              @include flexCenter(100%, 30%, 0, flex-start, center, row);

              .undo-redo__btn--container {
                @include flexCenter(100%, 43%, 0, flex-start, center, row);

                .undo-redo__btn {
                  @include flexCenter(60%, 90%, 0, flex-start, center, row);
                  box-shadow: 2px 2px 3px 0px #4c4c4c, -1px -1px 3px #cdcdcd;

                  &.undo {
                    border-radius: 2em 0.2em 0.2em 2em;
                  }
                  &.redo {
                    border-radius: 0.2em 2em 2em 0.2em;
                  }
                }
              }
            }
          }
        }

        &:hover {
          background: #ec6aa0;
          box-shadow: inset 2px 2px 3px 0px #6e4556, inset -2px -2px 3px #ffcae0;
          .list-item-1_edit-lyrics {
            .edit-lyrics-container {
              .edit-lyrics_shadow-div-outset {
                box-shadow: 2px 2px 3px 0px #964c6b, -2px -2px 2px #ffa7cc;
                .buttons-container {
                  .buttons-container_shadow-div-inset {
                    box-shadow: inset 2px 2px 3px 0px #964c6b, inset -2px -2px 2px #ffb0d1;
                    .bar-number-container {
                      .bar-num_shadow-div-inset {
                        .bar-num_shadow-div-outset {
                          box-shadow: 2px 2px 3px 0px #964c6b, -1px -1px 2px #ffdaea;
                        }
                      }
                    }
                    .buttons_shadow-div-inset {
                      .buttons_shadow-div-outset {
                        box-shadow: 2px 2px 3px 0px #964c6b, -1px -1px 2px #ffdaea;

                        &:hover {
                          background: #ff96c2;
                          box-shadow: 2px 2px 3px 0px #964c6b, -1px -1px 2px #fffbfd;
                        }
                        &:active {
                          background: #ff96c2;
                          box-shadow: inset 2px 2px 3px 0px #964c6b, inset -1px -1px 2px #fffbfd;
                        }
                      }
                    }
                  }
                }
                .close-btn-container {
                  .close-btn_shadow-div-inset {
                    box-shadow: inset 2px 2px 3px 0px #964c6b, inset -2px -2px 2px #f394bc;
                    .close-btn_shadow-div-outset {
                      box-shadow: 2px 2px 3px 0px #964c6b, -2px -2px 2px #ffa7cc;

                      img {
                        filter: invert(100%) sepia(3%) saturate(0%) hue-rotate(293deg) brightness(107%) contrast(103%);
                      }

                      &:hover {
                        background: #ff96c2;
                        box-shadow: 2px 2px 3px 0px #964c6b, -1px -1px 2px #ffe9f3;
                      }
                      &:active {
                        background: #ff96c2;
                        box-shadow: inset 2px 2px 3px 0px #964c6b, inset -2px -2px 2px #ffd7e8;
                      }
                    }
                  }
                }
                .each-lyric-container {
                  .confirm-delete-container {
                    .word-btn-container {
                      .word-cancel {
                        color: #ffb9d6;
                        box-shadow: 2px 2px 3px 0px #974969, -1px -1px 2px #ffbcd8;
                        &:active {
                          background: #e5659a;
                          box-shadow: inset 2px 2px 3px 0px #974969, inset -2px -2px 2px #e9a1bf;
                        }
                      }
                      .word-delete {
                        background: #e35490;
                        box-shadow: 2px 2px 3px 0px #964c6b, -1px -1px 2px #fbb6d3;
                        &:active {
                          background: #e5659a;
                          box-shadow: inset 2px 2px 3px 0px #974969, inset -2px -2px 2px #e9a1bf;
                        }
                      }
                    }
                  }
                  .each-word-container {
                    .edit-lyrics__form {
                      .edit-lyrics__edit-field {
                        background: #e24f8c;
                        box-shadow: inset 2px 2px 3px 0px #994065, inset -2px -2px 3px #ffb6d4;
                        border: 2px solid #ec6aa0;
                        &:focus {
                          border: 2px solid #ffedf4;
                        }
                      }
                    }
                    .edit-lyrics__text.edited {
                      color: #fea3c9;
                    }
                  }
                }
              }
            }
            .list-item-2_lyric-suggestions {
              .move-handle--container {
                .move-handle__btn {
                  box-shadow: 2px 2px 3px 0px #964c6b, -1px -1px 2px #ffdaea;

                  &:active {
                    background: #c5497d;
                    box-shadow: inset 2px 2px 3px 0px #733b53, inset -1px -1px 2px #febcd9;
                  }
                  // &:hover {
                  //   background: #ff96c2;
                  //   box-shadow: 2px 2px 3px 0px #964c6b, -1px -1px 2px #fffbfd;
                  // }
                }
              }
              .undo-redo--container {
                .undo-redo__btn--container {
                  .undo-redo__btn {
                    box-shadow: 2px 2px 3px 0px #964c6b, -1px -1px 2px #ffdaea;

                    img {
                      filter: invert(100%) sepia(3%) saturate(0%) hue-rotate(293deg) brightness(107%) contrast(103%);
                    }
                    &:active {
                      background: #ff96c2;
                      box-shadow: inset 2px 2px 3px 0px #995673, inset -2px -2px 2px #fbd1e3;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .section-3_controls {
    @include flexCenter(22%, 100%, 0, center, center, column);
    // background: linear-gradient(341deg, #202020, #373737);
    background: linear-gradient(323deg, #4b4b4b 0%, #757575 100%);
    position: absolute;
    bottom: 0;
    z-index: 1;

    .controls-container {
      @include flexCenter(92%, 96%, 0.3em 0.3em 2em 2em, center, center, column);
      // box-shadow: 3px 3px 8px 0px #060606, -2px -2px 2px #676767;
      box-shadow: 3px 3px 3px 0px #363636, -2px -2px 2px #989898;

      .controls-1_options {
        @include flexCenter(32%, 100%, 10px, flex-end, center, column);

        .options_shadow-div-outset {
          @include flexCenter(94%, 98%, 30px 30px 30px 5px, center, center, row);
          // box-shadow: inset 3px 3px 5px #1d1d1d, inset -2px -2px 2px 0px #4d4d4d;
          box-shadow: inset 2px 2px 3px #3a3a3a, inset -2px -2px 2px 0px #828282;

          .edit-lyrics__undo-redo--container {
            @include flexCenter(100%, 70%, 0, center, center, row);
          }

          .options-2_toggle-lyrics {
            @include flexCenter(100%, 70%, 0, center, center, row);

            .edit-lyrics__actions-btn--container {
              @include flexCenter(100%, 50%, 0, center, center, row);

              .edit-lyrics__actions-btn {
                @include flexCenter(75%, 88%, 0.2em, center, center, row);
                box-shadow: 2px 2px 3px #3c3c3c, -1px -1px 3px 0px #adadad;
                font-size: 0.85rem;

                &.can-undo-redo {
                  background: $primary-color-300;
                  img {
                    filter: $svg-color-base;
                  }
                }
                &.reset {
                  border-radius: 2em 0.3em 0.3em 2em;
                  color: #a6a6a6;

                  &:active {
                    box-shadow: none;
                    background: gray;
                  }
                }
                &.save {
                  border-radius: 0.3em 2em 2em 0.3em;
                  background: #ec6aa0;
                  color: white;

                  &:active {
                    box-shadow: none;
                    background: #fa8cba;
                  }
                }
              }
            }
          }
        }
      }

      .edit-lyrics__audio {
        @include flexCenter(34%, 100%, 0, center, center, column);

        .edit-lyrics__audio--bs-inset {
          @include flexCenter(85%, 98%, 0.2em 2em 2em 0.2em, center, center, row);
          box-shadow: inset 2px 2px 3px 0px #303030, inset -2px -2px 2px #808080;
          position: relative;
          transition: height 0.5s;

          .play-btn-container {
            @include flexCenter(100%, 13%, 50px, center, center, row);

            .play-btn_shadow-div-outset {
              @include flexCenter(2em, 2em, 100vh, center, center, row);
              text-align: center;
              font-weight: bold;
              background: #e24f8c;
              border: none;
              box-shadow: 2px 2px 5px #161616, -2px -2px 2px #8f8f8f;

              img {
                height: 80%;
                width: 80%;
                filter: invert(100%) sepia(3%) saturate(0%) hue-rotate(293deg) brightness(107%) contrast(103%);
              }

              &:active {
                box-shadow: inset 2px 2px 3px #313232, inset -2px -2px 3px #9fa2a4;
              }
            }
          }

          .play-slider-container {
            @include flexCenter(100%, 87%, 0, flex-start, center, row);

            .play-slider-container_shadow-div-outset {
              @include flexCenter(75%, 98%, 0.2em 2em 2em 0.2em, center, center, row);
              // box-shadow: 3px 3px 2px #171717, -2px -2px 2px 0px #515151;
              box-shadow: 2px 2px 2px #3a3a3a, -1px -1px 3px 0px #adadad;

              .play-slider-container_shadow-div-inset {
                @include flexCenter(79%, 97%, 0.2em 2em 2em 0.2em, center, center, row);
                // background: #5d5d5d;
                box-shadow: inset 2px 2px 3px 0px #323232, inset -2px -2px 2px #838383;

                .play-slider_shadow-div-outset {
                  @include flexCenter(75%, 96%, 8px 50px 50px 8px, center, center, column);
                  // box-shadow: 3px 3px 3px #282828, -2px -2px 2px 0px #838383;

                  .play-slider_shadow-div-inset {
                    @include flexCenter(100%, 100%, 8px 50px 50px 8px, space-evenly, flex-start, column);
                    // box-shadow: inset 2px 2px 3px 0px #3d3d3d, inset -2px -2px 5px #afaeae;

                    input[type="range"] {
                      appearance: none;
                      height: 0.6em;
                      width: 97%;
                      // margin-left: 1%;
                      border-radius: 100vh;
                      // background: #63DEBC;
                      box-shadow: inset 1px 1px 2px 0px #242424, inset -1px -1px 2px #a6a5a5;
                    }
                    input[type="range"]::-webkit-slider-thumb {
                      appearance: none;
                      height: 0.5em;
                      width: 1em;
                      border-radius: 1em;
                      cursor: pointer;
                      background: #535353;
                      transition: background-color 1s ease;
                      box-shadow: inset 0.6px 0.6px 0.6px 0px #9b9b9b, inset -0.6px -0.6px 0.6px #414141;
                    }

                    .time-text-container {
                      @include flexCenter(25%, 93%, 8px, space-between, center, row);
                      padding: 0% 2%;

                      .time-text-start {
                        font-size: 0.55rem;
                        color: white;
                      }
                      .time-text-end {
                        font-size: 0.55rem;
                        color: white;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      .actions-2_record {
        @include flexCenter(32%, 100%, 0px, center, flex-start, row);

        .record-container {
          @include flexCenter(94%, 97.5%, 0.3em 2.3em 2.3em 2.6em, space-between, center, row);
          // box-shadow: inset 2px 2px 3px #191919, inset -2px -2px 2px 0px #454545;
          box-shadow: inset 2px 2px 3px #353535, inset -2px -2px 2px 0px #767676;

          .record-1_select-beat {
            @include flexCenter(100%, 65%, 0px, space-evenly, center, column);

            .select-beat_shadow-div-inset {
              @include flexCenter(75%, 94%, 0.2em 2em 2em 2.3em, space-evenly, center, row);
              // box-shadow: 3px 3px 3px 0px #131313, -2px -2px 2px #525252;
              box-shadow: 2px 2px 3px #3c3c3c, -1px -1px 3px 0px #adadad;

              .play-beat_shadow-div-outset {
                @include flexCenter(86%, 15%, 100vh, center, center, column);
                box-shadow: inset 2px 2px 3px 0px #3e3e3e, inset -2px -2px 2px #8f8f8f;

                .play-beat_shadow-div-inset {
                  @include flexCenter(70%, 70%, 50px, center, center, column);
                  box-shadow: 1px 1px 3px 0px #282828, -1px -1px 2px #b3b3b3;

                  img {
                    height: 80%;
                    width: 80%;
                  }
                }
              }

              .select-beat_shadow-div-outset {
                @include flexCenter(65%, 77%, 100vh, center, center, row);
                box-shadow: 2px 2px 3px 0px #404040, -2px -2px 2px #7c7c7c;
                margin: none;

                .select-beat-title {
                  @include flexCenter(100%, 25%, 0px, center, center, column);
                  color: pink;
                  font-size: 10px;
                }
                .track-select {
                  @include flexCenter(100%, 75%, 0px, center, flex-start, column);

                  color: white;

                  &:focus {
                    outline: none !important;
                  }
                }
                &:hover {
                  background: #767676;
                  box-shadow: 2px 2px 3px 0px #404040, -2px -2px 2px #979797;
                }
                &:active {
                  background: #767676;
                  box-shadow: inset 2px 2px 3px 0px #424242, inset -2px -2px 2px #9d9d9d;
                }
              }
            }
          }
        }
      }
    }
  }

  .section-4_display-lyrics {
    @include flexCenter(initial, 100%, 0px, center, flex-start, row);
    position: absolute;
    bottom: 22%;
    background: #00000094;
    display: none;
    max-height: 40%;
    overflow: scroll;

    .display-lyrics-container {
      @include flexCenter(initial, 88%, 0px, flex-start, center, column);
      padding: 3% 0% 3% 3%;

      .display-each-container {
        @include flexCenter(initial, 100%, 0px, flex-start, center, row);
        min-height: 13px;
        overflow-y: scroll;

        .each-word {
          height: 100%;
          width: 95%;
          color: #ffffffb5;
          font-size: 11px;
          text-align: start;
          padding-left: 1%;
        }
        .bar-no {
          height: 100%;
          width: 4%;
          color: pink;
          font-size: 8px;
        }
      }
    }
    .menu-down-container {
      @include flexCenter(100%, 8%, 0px, flex-start, center, row);
      margin-top: 2%;

      .menu-down-btn {
        @include flexCenter(initial, 100%, 0px, flex-start, center, row);
        border: none;
        background: initial;
      }
    }
  }
}

// .ghost {
//   background: rgb(93, 93, 93);
// }

.lyrics-list-item.ghost {
  background: #ec6aa0;
  box-shadow: inset 2px 2px 3px 0px #6e4556, inset -2px -2px 3px #ffcae0;
  .list-item-1_edit-lyrics {
    .edit-lyrics-container {
      .edit-lyrics_shadow-div-outset {
        box-shadow: 2px 2px 3px 0px #964c6b, -2px -2px 2px #ffa7cc;
        .buttons-container {
          .buttons-container_shadow-div-inset {
            box-shadow: inset 2px 2px 3px 0px #964c6b, inset -2px -2px 2px #f394bc;
            .bar-number-container {
              .bar-num_shadow-div-inset {
                .bar-num_shadow-div-outset {
                  box-shadow: 2px 2px 3px 0px #964c6b, -1px -1px 2px #ffdaea;
                }
              }
            }
            .buttons_shadow-div-inset {
              .buttons_shadow-div-outset {
                box-shadow: 2px 2px 3px 0px #964c6b, -1px -1px 2px #ffdaea;
              }
            }
          }
        }
        .close-btn-container {
          .close-btn_shadow-div-inset {
            box-shadow: inset 2px 2px 3px 0px #964c6b, inset -2px -2px 2px #f394bc;
            .close-btn_shadow-div-outset {
              box-shadow: 2px 2px 3px 0px #964c6b, -2px -2px 2px #ffa7cc;
            }
          }
        }
      }
    }
    .list-item-2_lyric-suggestions {
      .move-handle--container {
        .move-handle__btn {
          box-shadow: 2px 2px 3px 0px #964c6b, -1px -1px 2px #ffdaea;
        }
      }
      .undo-redo--container {
        .undo-redo__btn--container {
          .undo-redo__btn {
            box-shadow: 2px 2px 3px 0px #964c6b, -1px -1px 2px #ffdaea;
          }
        }
      }
    }
  }
}
