@keyframes floatText {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.Home {
  background: linear-gradient(345deg, #000000, #606060);
  position: relative;
}

.section-1_feed {
  height: 100%;
  width: 100%;
  position: relative;

  .section-1a_toggle-feed {
    @include flexCenter(6%, 100%, 0em 0em 1.4em 1.4em, center, center, row);
    background: linear-gradient(327deg, #959595 0%, #cdcdcd 100%);
    position: absolute;
    z-index: 2;

    .toggle-feed-container {
      @include flexCenter(100%, 99%, 0, space-around, center, row);

      .each-feed_shadow-div-inset {
        @include flexCenter(80%, 32%, 0.25em, center, center, row);
        box-shadow: inset 2px 2px 3px #484747, inset -2px -2px 2px #ffffff;

        .each-feed_shadow-div-outset {
          @include flexCenter(75%, 90%, 0.4vh, center, center, column);
          box-shadow: 2px 2px 4px #505050, -2px -2px 2px #ffffff;

          .each-feed_shadow-div-inset-2 {
            @include flexCenter(77%, 93%, 65px, center, center, column);
            box-shadow: inset 1px 1px 3px #545454, inset -1px -1px 3px #ffffff;
            font-size: 1rem;
            color: $primary-color-300;
            font-weight: bolder;
          }
          &:hover {
            background: #f3b9c3;
            box-shadow: 3px 3px 4px #6e5a62, -2px -2px 2px 0px #ffe5e5;
            .each-feed_shadow-div-inset-2 {
              box-shadow: inset 1px 1px 2px #6e5a62,
                inset -1px -1px 2px 0px #ffffff;
              color: white;
            }
          }
        }
        // classes to apply to toggle feed button when clicked
        .toggle-feed {
          height: 76%;
          width: 92%;
          background: $primary-color-400;
          box-shadow: inset 2px 2px 3px #813052, inset -2px -2px 2px #fedeeb;
          transition: background 0.3s ease-in;

          .toggle-feed-2 {
            height: 68%;
            width: 91%;
            box-shadow: inset 1px 1px 3px #6c2341, inset -1px -1px 3px #eab4ca;
            color: white;
          }
          &:hover {
            background: #f3b9c3;
            box-shadow: inset 2px 2px 3px #8e5b71, inset -2px -2px 2px #fef2f7;
            .each-feed_shadow-div-inset-2 {
              box-shadow: inset 2px 2px 3px #8e5b71, inset -2px -2px 2px #fef2f7;
              color: white;
            }
          }
        }

        &.Home {
          border-radius: 0.3vh 0.3vh 0.3vh 2.5vh;
          .each-feed_shadow-div-inset {
            border-radius: 4vh 0.2vh 0.2vh 4vh;
          }
        }
        &.Following {
          border-radius: 0.3vh 0.3vh 2.5vh 0.3vh;
          .each-feed_shadow-div-inset {
            border-radius: 0.2vh 4vh 4vh 0.2vh;
          }
        }
      }
    }
  }

  .video-scroll-container {
    position: absolute;
    height: 60%;
    width: 100%;
    margin-top: 8%;
    scroll-snap-type: y mandatory;
    // scroll-behavior: smooth;
    will-change: transform;
    z-index: 1;

    .video-pane {
      @include flexCenter(100%, 100%, 0px, center, center, column);

      scroll-snap-align: start;
      scroll-snap-stop: always;
      background-size: cover;
      background-position-x: center;

      .last-div {
        @include flexCenter(87%, 94%, 5px, flex-start, flex-start, column);
        background: #0000008a;
        margin-bottom: 3%;
        overflow-y: scroll;

        .each-lyric-container {
          @include flexCenter(initial, 100%, 0px, flex-start, flex-start, row);

          .each-lyric-no {
            color: $primary-color-200;
            font-size: 10px;
            margin-left: 1%;
          }

          .each-lyric-line {
            font-size: 13px;
            margin-left: 1%;
            color: $primary-color-300;
            text-align: start;
          }
        }
      }
    }

    .scroll-top-container {
      @include flexCenter(20px, 100%, 0px, center, center, row);
      background: black;
      position: fixed;
      bottom: 37%;
      color: white;
      font-size: 20px;
    }
  }

  .section-1c_song-details {
    //experimenting with border here
    @include flexCenter(
      40%,
      100%,
      2.2em 0em 0em 0em,
      space-evenly,
      center,
      column
    );
    background: linear-gradient(180deg, #b1b1b1 0%, #4f4f4f 100%);
    position: absolute;
    bottom: 0;
    z-index: 2;

    .song-details-1_actions {
      @include flexCenter(23%, 100%, 0, center, center, row);

      .actions_shadow-div-outset {
        @include flexCenter(81%, 96%, 4em 0.3em 0.3em 4em, center, center, row);
        box-shadow: 2px 3px 3px #494949, -2px -2px 3px 0px #ffffff;

        .actions_shadow-div-inset {
          @include flexCenter(
            85%,
            97%,
            4em 0.2em 0.2em 4em,
            stretch,
            center,
            row
          );
          box-shadow: inset 2px 2px 3px #4a4949, inset -2px -2px 3px 0px #eaeaea;

          .action-btns-container {
            @include flexCenter(100%, 100%, 0, space-evenly, center, row);

            .action-btn_shadow-div-outset {
              @include flexCenter(77%, 31%, 0.2em, space-evenly, center, row);
              background: initial;
              box-shadow: 2px 2px 3px #626262, -1px -1px 3px 0px #efefef;

              &:active {
                box-shadow: inset 2px 2px 5px #3d3f3f,
                  inset -2px -2px 3px #989898;
                transition: box-shadow 0.5s;
              }
              &:hover {
                background: #f3b9c3;
                box-shadow: 3px 3px 4px #6e5a62, -2px -2px 2px 0px #ffe5e5;
                .action-btn-container {
                  .action-btn-text {
                    background: #f3b9c3;
                    box-shadow: inset 1px 1px 3px #8b576c,
                      inset -1px -1px 3px #fff1f1;
                    p {
                      color: white;
                    }
                  }
                }
              }
              .action-btn-icon_shadow-div-inset {
                @include flexCenter(100%, 32%, 0, center, center, row);
                color: $primary-color-300;
                list-style-type: none;

                img.Follow {
                  height: 3rem;
                  width: 3rem;
                }
                img.Like {
                  height: 1.85rem;
                  width: 1.85rem;
                }
                img.Comment {
                  height: 1.5rem;
                  width: 1.5rem;
                }
              }

              .action-btn-container {
                @include flexCenter(100%, 68%, 0, flex-start, center, row);
                position: relative;

                .action-btn-text {
                  @include flexCenter(80%, 93%, 3px, center, center, column);
                  box-shadow: inset 1px 1px 3px #505050,
                    inset -1px -1px 3px #ffffff;

                  p {
                    height: 45%;
                    width: 100%;
                    font-size: 0.7rem;
                    color: $primary-color-200;
                    overflow-x: hidden;
                  }
                }
              }
            }

            // class to apply on user liking, following, or commenting on a song
            .liked-followed-commented {
              background: $primary-color-300;
              box-shadow: 2px 2px 3px #784158, -1px -1px 3px 0px #fff1f7;
              .action-btn-icon_shadow-div-inset {
                img {
                  filter: $svg-color-base;
                }
              }
              .action-btn-text {
                box-shadow: inset 1px 1px 3px #3b272f,
                  inset -2px -2px 3px #fdedf4;
                background: #c85886;
                color: #ffd1e4;
              }
            }
            // class to apply to comment button on press
            .comment-pressed {
              box-shadow: inset 3px 3px 3px #464646,
                inset -2px -2px 3px 0px #ffffff;
              background: #737373;
              transition: background 0.4s, box-shadow 0.4s;
              .action-btn-container {
                .action-btn-text {
                  height: 73%;
                  width: 91%;
                  box-shadow: 1px 1px 2px #414141, -1px -1px 3px #b3b3b3;
                }
              }
            }
          }
        }
      }
    }

    .song-details-2_song-data {
      @include flexCenter(77%, 100%, 0px, flex-start, center, column);

      .song-data-container {
        @include flexCenter(
          60%,
          96%,
          0.3em 0.3em 0.3em 2.5em,
          space-evenly,
          center,
          column
        );
        box-shadow: 1px 5px 10px #2a2a2a, -2px -2px 3px 0px #ffffff;

        .song-user-section {
          @include flexCenter(53%, 100%, 0, center, flex-end, row);

          .song-user-container {
            @include flexCenter(
              95%,
              97%,
              0.2em 0.2em 2.5em 2.5em,
              space-evenly,
              center,
              row
            );
            box-shadow: inset 3px 3px 5px #464646,
              inset -2px -2px 3px 0px #e9e9e9;

            .user-pic-container {
              @include flexCenter(100%, 26%, 0, flex-start, center, row);

              .user-pic_shadow-div-outset {
                @include flexCenter(
                  80%,
                  84%,
                  45px 4px 4px 45px,
                  flex-start,
                  center,
                  row
                );
                box-shadow: 3px 3px 5px #3c3c3c, -2px -2px 3px 0px #e9e9e9;
                margin-left: 8%;

                .user-pic_shadow-div-inset {
                  @include flexCenter(
                    87%,
                    65%,
                    45px 6px 6px 45px,
                    flex-start,
                    center,
                    row
                  );
                  box-shadow: inset 2px 2px 2px #5d5d5d,
                    inset -2px -2px 2px #cbcbcb;
                  margin-left: 5%;
                  position: relative;

                  .user-pic_wrapper {
                    @include flexCenter(
                      calc(5vh * 0.9),
                      calc(5vh * 0.9),
                      100%,
                      center,
                      stretch,
                      row
                    );
                    margin-left: 11%;
                    overflow: hidden;

                    div,
                    img,
                    p {
                      border-radius: 100%;
                    }
                  }
                }
              }
            }

            .song-title-container {
              @include flexCenter(100%, 74%, 0, flex-start, center, row);

              .song-title_shadow-div-outset {
                @include flexCenter(
                  80%,
                  97.5%,
                  0.5vh 0.5vh 4vh 0.5vh,
                  center,
                  center,
                  column
                );
                box-shadow: 3px 3px 4px #494949, -2px -2px 3px 0px #e9e9e9;

                .song-title_shadow-div-inset {
                  @include flexCenter(
                    67%,
                    100%,
                    0.5vh 4vh 4vh 0.5vh,
                    center,
                    center,
                    row
                  );
                  overflow-x: scroll;
                  position: relative;

                  .song-title_title--container {
                    @include flexCenter(
                      80%,
                      97%,
                      0.2em 0em 1.3em 0.2em,
                      center,
                      center,
                      row
                    );
                    box-shadow: inset 2px 2px 2px #5d5d5d,
                      inset -2px -2px 2px #cbcbcb;
                    background: $primary-color-300;
                    position: absolute;
                    overflow: hidden;

                    .marquee-wrapper {
                      @include flexCenter(
                        75%,
                        92%,
                        0em 0em 1.4em 0em,
                        flex-start,
                        center,
                        row
                      );
                      position: absolute;
                      overflow: hidden;

                      .song-title-marquee {
                        font-size: 1.05rem;
                        color: white;
                        font-weight: bold;
                        white-space: nowrap;
                        text-align: start;
                        span {
                          font-size: 0.95rem;
                          color: $primary-color-200;
                          font-weight: 500;
                        }
                      }
                    }

                    .marquee--animation {
                      .song-title-marquee {
                        animation: floatText 5s linear infinite;
                        padding-left: 30%;
                        display: inline-block;
                      }
                    }
                  }
                }

                .song-caption--container {
                  @include flexCenter(33%, 97%, 0, flex-start, center, row);
                  padding-left: 3%;

                  .song-caption__text {
                    @include flexCenter(100%, auto, 0, center, flex-start, row);
                    font-size: 0.7em;
                    color: $primary-color-200;

                    &.bullet {
                      align-items: center;
                      font-size: 1.5rem;
                      margin: 0% 2%;
                      padding-bottom: 1%;
                    }
                    &.caption {
                      display: block;
                      width: 76%;
                      text-align: start;
                      white-space: nowrap;
                      overflow-x: hidden;
                      text-overflow: ellipsis;
                    }
                  }
                }
              }
            }
          }
        }

        .song-play-section {
          @include flexCenter(47%, 100%, 0, center, center, row);

          .play-song-container {
            @include flexCenter(100%, 22%, 0, center, center, row);

            .play-btn-container {
              @include flexCenter(
                88%,
                89%,
                0.3em 2.3em 2.3em 2.6em,
                center,
                center,
                row
              );
              box-shadow: inset 2px 3px 2px #424242,
                inset -2px -3px 3px 0px #adadad;

              .play-btn-container-2 {
                @include flexCenter(
                  78%,
                  82%,
                  0.3em 2.3em 2.3em 2.6em,
                  flex-end,
                  center,
                  row
                );
                box-shadow: 1px 2px 3px #3c3c3c, -1px -2px 3px 0px #c9c9c9;

                .play-btn_inset-container {
                  @include flexCenter(
                    100%,
                    calc(100vh * 0.06),
                    0,
                    center,
                    center,
                    row
                  );

                  .play-btn_shadow-div-inset {
                    @include flexCenter(
                      5.2vh,
                      5.2vh,
                      100vh,
                      center,
                      center,
                      row
                    );
                    box-shadow: inset 2px 2px 2px #484848,
                      inset -2px -2px 2px 0px #a1a1a1;

                    button.play-btn_shadow-div-outset {
                      @include flexCenter(74%, 74%, 100vh, center, center, row);
                      box-shadow: 2px 2px 3px #464646, -1px -1px 2px 0px #b7b7b7;
                      background: $primary-color-300;

                      img {
                        height: 85%;
                        width: 85%;
                        filter: $svg-color-base;
                      }
                      img.bi-play {
                        margin-left: 10%;
                      }
                      img.bi-pause {
                        margin-left: 3%;
                      }
                      &:active {
                        box-shadow: none;
                      }
                      &:hover {
                        background: $primary-color-400;
                      }
                    }
                    &:active {
                      box-shadow: inset 3px 3px 3px #4c4c4c,
                        inset -2px -2px 3px 0px #a3a3a3;
                      transition: all 0.2s ease-out;
                      .play-btn_shadow-div-inset {
                        box-shadow: none;
                      }
                    }
                  }
                }
              }
            }
          }

          .play-bar-container {
            @include flexCenter(100%, 78%, 0, center, flex-start, column);

            .play-bar_shadow-div-inset {
              @include flexCenter(
                87%,
                98%,
                5vh 5vh 0.5vh 5vh,
                center,
                center,
                column
              );
              box-shadow: inset 3px 3px 3px #444444,
                inset -2px -2px 3px 0px #b1b1b1;

              .play-slider_shadow-div-inset {
                @include flexCenter(75%, 95%, 100vh, center, center, column);
                box-shadow: 3px 3px 3px #424242, -2px -2px 2px 0px #a5a5a5;

                input[type="range"] {
                  appearance: none;
                  height: 1.2em;
                  width: 92%;
                  border-radius: 50px;
                  box-shadow: inset 2px 2px 2px 0px #424141,
                    inset -1px -1px 2px #e8e4e4;
                }

                input[type="range"]::-webkit-slider-thumb {
                  appearance: none;
                  height: 1em;
                  width: 1.4em;
                  border-radius: 5em;
                  margin-left: 1%;
                  cursor: pointer;
                  background: #767676;
                  transition: background-color 1s ease;
                  box-shadow: inset 1px 1px 1px 0px #c2c2c2,
                    inset -1px -1px 1px #353535;
                }

                .time-text-container {
                  @include flexCenter(35%, 88%, 0, space-between, center, row);

                  .time-text-start {
                    font-size: 10px;
                    color: white;
                  }
                  .time-text-end {
                    font-size: 11px;
                    color: white;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
.transitions {
  background: #efbfbf;
  box-shadow: inset 3px 3px 4px #bd9797, inset -3px -3px 4px #ffe7e7;
  border: 2px solid #df56a0;
}
