@keyframes editOpacityIn {
  0% {
    height: 65%;
    opacity: 0;
    visibility: hidden;
  }
  100% {
    height: 65%;
    opacity: 1;
    visibility: visible;
  }
}
@keyframes editOpacityOut {
  0% {
    height: 65%;
    opacity: 1;
    visibility: visible;
  }
  100% {
    height: 0%;
    opacity: 0;
    visibility: hidden;
  }
}

.edit-profile {
  @include flexCenter(100%, 100%, none, flex-start, center, column);
  background: linear-gradient(180deg, #b1b1b1 0%, #666666 100%);

  .edit-profile__body {
    @include flexCenter(85%, 96%, 3.2em 3.2em 0.3em 0.3em, center, center, row);
    box-shadow: 2px 3px 3px #535353, -1px -3px 3px #d3d3d3;
    margin-top: 2%;

    .edit-profile__form {
      @include flexCenter(98.5%, 97%, 2.9em 2.9em 2.4em 2.4em, center, center, column);
      box-shadow: inset 3px 3px 3px #535353, inset -3px -3px 3px #a9a9a9;

      .edit-profile__body--bs-outset {
        @include flexCenter(87%, 96%, 2.4em 2.3em 0.3em 0.3em, center, center, row);
        background: linear-gradient(180deg, #c7c7c7 0%, #939393 100%);
        box-shadow: 3px 3px 3px #4e4e4e, -2px -2px 3px #ffffff;
        margin-top: 2.3%;

        .edit-profile__body--bs-inset-2 {
          @include flexCenter(98%, 96.5%, 2em 2em 1.5em 1.5em, center, center, column);
          box-shadow: inset 2px 2px 3px #6e6e6e, inset -2px -2px 3px #f7f7f7;

          .edit-profile__header {
            @include flexCenter(12%, 100%, 0px, center, center, row);

            .edit-profile__header--container {
              @include flexCenter(100%, 79%, 0, flex-end, flex-end, row);

              .edit-profile__header--shadow-outset {
                @include flexCenter(90%, 97%, 2em 0.25em 0.25em 2em, center, center, row);
                box-shadow: 3px 3px 3px #7a7a7a, -2px -2px 3px #ffffff;

                .edit-profile__go-back {
                  @include flexCenter(100%, 22%, 0, center, center, column);

                  .edit-profile__go-back--wrapper {
                    @include flexCenter(85%, 100%, 100vh, center, center, row);
                    padding-left: 0.6em;

                    .RoundButton__wrapper {
                      .RoundButton__inset {
                        box-shadow: inset 1px 1px 3px #5b5b5b, inset -1px -1px 1px #ffffff;
                        button {
                          box-shadow: 1px 1px 3px #6c4656, -1px -1px 2px #ffdceb;

                          &:hover {
                            background: $primary-color-200;
                          }
                          &:active {
                            box-shadow: inset 2px 2px 3px #828282, inset -2px -2px 3px #ffffff;
                            background: $primary-color-200;
                            img {
                              filter: invert(73%) sepia(28%) saturate(6219%) hue-rotate(297deg) brightness(95%)
                                contrast(95%);
                            }
                          }
                        }
                      }
                    }
                  }
                }

                .edit-profile__user-title {
                  @include flexCenter(100%, 78%, 0, center, flex-end, column);

                  .edit-profile__user-title--shadow-inset {
                    @include flexCenter(85%, 96%, 3em 0.2em 0.2em 3em, center, center, row);
                    box-shadow: inset 2px 2px 3px #6e6e6e, inset -2px -2px 3px #f7f7f7;
                    margin-right: 0.3em;

                    .edit-profile__user-title--container {
                      @include flexCenter(74%, 94%, 2em, center, center, row);
                      box-shadow: 2px 2px 3px #7a7a7a, -1px -1px 3px #ffffff;

                      h3 {
                        height: 80%;
                        width: 95%;
                        color: #ec6aa0;
                        line-height: 0.9;
                        text-align: start;

                        span {
                          color: white;
                        }
                      }
                    }
                  }
                }
              }
            }

            .edit-profile__user-pic--container {
              @include flexCenter(100%, 21%, 0, center, flex-end, row);

              .edit-profile__user-pic--shadow-outset {
                @include flexCenter(90%, 80%, 0.25em 2em 2em 0.25em, flex-end, center, row);
                box-shadow: 2px 2px 3px #7a7a7a, -2px -2px 3px #ffffff;

                .edit-profile__user-pic--shadow-inset {
                  @include flexCenter(auto, auto, 100%, center, center, row);
                  box-shadow: inset 2px 2px 3px #7a7a7a, inset -2px -2px 3px #ffffff;
                  margin-right: 0.3em;

                  .edit-profile__user-pic--wrapper {
                    @include flexCenter(80%, 80%, 100vh, center, center, row);
                    overflow: hidden;
                  }
                }
              }
            }
          }

          .edit-section__sections {
            @include flexCenter(88%, 100%, 0, space-evenly, center, column);

            .edit-section--shadow-inset {
              @include flexCenter(5%, 96%, 0.6vh, space-evenly, center, column);
              box-shadow: 3px 3px 3px #686868, -2px -2px 2px #e7e7e7;

              .edit-section__header {
                @include flexCenter(10%, 100%, 0, space-evenly, center, column);
                color: #e24f8c;
                cursor: pointer;
              }

              .edit-section__error--container {
                @include flexCenter(35%, 100%, 0, center, center, column);

                .edit-section__profile-photo {
                  @include flexCenter(100%, 449%, 0, center, center, row);
                  position: relative;

                  .edit-section__profile-photo--container {
                    @include flexCenter(7.5em, 7.5em, 0, center, center, row);

                    .edit-section__profile-photo--bs-outset {
                      @include flexCenter(95%, 95%, 10em 10em 1em 10em, center, center, row);
                      box-shadow: 2px 2px 3px #8d8d8d, -2px -2px 2px #e7e7e7;
                      position: relative;

                      .edit-section__profile-photo--bs-inset {
                        @include flexCenter(74%, 74%, 100%, center, center, row);
                        box-shadow: inset 2px 2px 3px #686868, inset -2px -2px 2px #e7e7e7;

                        .edit-section__profile-photo--bs-outset-2 {
                          @include flexCenter(84%, 84%, 100%, center, center, row);
                          box-shadow: 2px 2px 3px #747474, -1px -1px 3px #ffffff;

                          .edit-section__profile-photo--bs-inset-2 {
                            @include flexCenter(84%, 84%, 100%, center, center, row);
                            box-shadow: inset 2px 2px 3px #686868, inset -2px -2px 2px #e7e7e7;

                            .edit-section__profile-photo--wrapper {
                              @include flexCenter(75%, 75%, 100%, center, center, row);
                              overflow: hidden;
                              border: 1px solid white;

                              img {
                                height: 100%;
                                width: 100%;
                                border-radius: 100%;
                              }
                            }
                          }
                        }
                      }

                      .edit-section__photo-edit--container {
                        @include flexCenter(23px, 23px, 100%, center, center, row);
                        position: absolute;
                        right: 2.5%;
                        bottom: 2.5%;
                        box-shadow: inset 1px 1px 2px #595959, inset -1px -1px 2px #ffffff;

                        .edit-section__photo-edit-btn {
                          @include flexCenter(70%, 70%, 100%, center, center, row);
                          box-shadow: 1px 1px 2px #787878, -1px -1px 2px #ffffff;
                          background: $primary-color-300;
                          cursor: pointer;

                          &:hover {
                            background: $primary-color-200;
                          }
                          &:active {
                            box-shadow: inset 2px 2px 3px #686868, inset -1px -1px 2px #e7e7e7;
                          }
                        }
                      }
                    }
                  }
                }
              }

              .edit-section__form--container {
                @include flexCenter(55%, 100%, 0, space-evenly, center, column);

                .edit-section__form {
                  @include flexCenter(96%, 97%, 1.8em 1.8em 0.4em 0.4em, flex-start, center, column);
                  box-shadow: inset 3px 3px 3px #686868, inset -2px -2px 2px #e7e7e7;

                  .edit-section__list {
                    //height: 77%
                    @include flexCenter(99%, 100%, 1.4em, flex-start, center, column);
                    overflow: scroll;
                    padding-top: 1%;

                    .edit-section__item {
                      @include flexCenter(33%, 100%, 0, center, center, column);
                      list-style-type: none;

                      .edit-section__item--shadow-outset {
                        @include flexCenter(88%, 91.5%, 0.5vh, center, center, row);
                        box-shadow: 3px 3px 3px #686868, -1px -1px 4px #ffffff;
                        padding: 0% 2% 0% 2%;

                        .edit-section__item-input-container {
                          @include flexCenter(80%, stretch, 100vh, center, flex-end, column);

                          p {
                            height: 12px;
                            width: 100%;
                            font-size: 0.75rem;
                            color: #e24f8c;
                            text-align: start;
                            text-indent: 3%;
                          }
                          .edit-section__item-input {
                            @include flexCenter(70%, 96%, 100vh, center, center, column);
                            padding-left: 3%;
                            box-shadow: inset 1px 1px 3px #4e4e4e, inset -1px -1px 3px #ffffff;
                            background: #c2c2c2;
                            border: 2px solid #aaaaaa;

                            &:defined {
                              color: pink;
                            }
                            &::placeholder {
                              color: #8a8a8a;
                              font-size: 0.9rem;
                            }
                            &:focus {
                              border: none;
                              outline: none !important;
                            }
                            .input-error {
                              &:focus {
                                border: 2px solid red;
                                outline: none !important;
                                color: white;
                                border-radius: 100vh;
                                padding-right: 20%;
                              }
                            }
                            &:focus-within {
                              border: 2px solid pink;
                              outline: none !important;
                              color: white;
                              border-radius: 100vh;
                            }
                            &.hasValue {
                              &::placeholder {
                                color: #ffffff;
                              }
                            }
                          }
                        }
                        &.Username,
                        &.Email,
                        &.Instagram {
                          border-radius: 2.8vh 2.8vh 0.5vh 0.5vh;
                        }
                        &.Location,
                        &.Last.Name,
                        &.SoundCloud {
                          border-radius: 0.5vh 0.5vh 2.8vh 2.8vh;
                        }
                      }
                    }
                  }

                  .edit-section__btn--container {
                    @include flexCenter(20%, 100%, 0, space-evenly, center, row);

                    .edit-section__btn-cancel--container {
                      @include flexCenter(100%, 30%, 0, center, center, column);

                      .edit-section__btn-cancel {
                        @include flexCenter(70%, 85%, 5vh 1vh 1vh 5vh, center, center, column);
                        box-shadow: 2px 2px 3px #545454, -1px -1px 2px #e7e7e7;
                        color: #636363;
                        font-size: 0.9rem;

                        &:active {
                          background: #8e8e8e;
                          box-shadow: inset 2px 2px 3px #545454, inset -1px -1px 2px #e7e7e7;
                        }
                        &:hover {
                          background: #b6b6b6;
                        }
                      }
                    }

                    .edit-section__btn-save--container {
                      @include flexCenter(100%, 70%, 0, center, flex-start, column);

                      .edit-section__btn-save {
                        @include flexCenter(70%, 96%, 1vh 5vh 5vh 1vh, center, center, column);
                        background: linear-gradient(315deg, #e24f8c, #e57da7);
                        box-shadow: 2px 2px 3px #585858, -1px -1px 2px #e6e6e6;
                        color: white;

                        &:active {
                          background: linear-gradient(45deg, #e24f8c, #e57da7);
                          box-shadow: inset 2px 2px 3px #70344d, inset -2px -2px 3px #ffe3ef;
                        }
                        &:hover {
                          background: #ef95b8;
                        }
                      }
                    }
                  }
                }
              }
            }

            .Public {
              height: 80%;
              border-radius: 2em 2em 0.3em 0.3em;
            }

            .Songs {
              border-radius: 0.3em 0.3em 1.6em 1.6em;
              .edit-section__header {
                height: 4%;
              }
              .edit-section__error--container {
                height: 0%;
                display: none;
              }
              .edit-section__form--container {
                height: 95%;

                .edit-section__form {
                  height: 97%;
                  .edit-section__list {
                    height: 99%;
                    .edit-section__item.song {
                      min-height: 120px;
                      margin-bottom: 1%;

                      .edit-section__item--shadow-outset {
                        flex-direction: column;
                        height: 97%;
                        width: 95%;
                        padding: 0%;

                        .edit-section__item-header {
                          @include flexCenter(14%, 100%, 0, center, center, row);

                          .edit-section__title {
                            width: 100%;
                            color: white;
                            text-indent: 7%;
                            text-align: start;
                            font-size: 0.9rem;
                            font-weight: bold;
                            span {
                              color: #bf7391;
                              font-size: 0.9rem;
                            }
                          }
                        }

                        .edit-section__flow--container {
                          @include flexCenter(55%, 100%, 0, center, center, column);

                          .edit-section__flow-input--container {
                            @include flexCenter(100%, 96%, 0, center, center, row);

                            .edit-section__item-input-container {
                              @include flexCenter(88%, stretch, 2em, center, flex-end, row);
                              position: relative;
                              box-shadow: inset 2px 2px 3px #535353, inset -2px -2px 3px #f1f1f1;
                              background: #919191;

                              p {
                                position: absolute;
                                top: 2px;
                                height: 12px;
                                width: 90%;
                                font-size: 0.75rem;
                                color: rgb(243, 243, 243);
                                text-align: start;
                                text-indent: 1%;
                                text-overflow: ellipsis;
                                overflow: hidden;
                                white-space: nowrap;
                                pointer-events: none;
                              }
                              .edit-section__item-input {
                                @include flexCenter(70%, 95%, 100vh, center, center, column);
                                padding-left: 6%;

                                &:defined {
                                  color: pink;
                                }
                                &::placeholder {
                                  color: #bbbbbb;
                                  font-size: 0.9rem;
                                }
                                &:focus {
                                  border: none;
                                  outline: none !important;
                                }
                              }
                              .input-error {
                                &:focus {
                                  border: 2px solid red;
                                  outline: none !important;
                                  color: white;
                                  border-radius: 100vh;
                                  padding-right: 20%;
                                }
                              }
                              &:focus-within {
                                border: 2px solid pink;
                                outline: none !important;
                                color: white;
                                border-radius: 100vh;
                              }
                            }
                          }
                        }
                        .edit-section__btn--container.song {
                          height: 31%;
                          .edit-section__btn--shadow-inset {
                            @include flexCenter(82%, 96%, 2em, space-evenly, center, row);
                            box-shadow: inset 2px 2px 3px #535353, inset -2px -2px 3px #f1f1f1;
                            .edit-section__btn--container {
                              .edit-section__btn-cancel {
                                height: 67%;
                              }
                              .edit-section__btn-save {
                                height: 67%;
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                  .edit-section__btn--container {
                    height: 17%;
                  }
                }
              }
            }

            .shrink-card {
              height: 4%;
              transition: all 0.4s;
              .edit-section__header {
                height: 100%;
              }
              .edit-section__error--container {
                height: 0%;
              }
              .edit-section__form--container {
                height: 0%;
                opacity: 0;
                visibility: hidden;
                transition: all 0.4s;
              }
              &:hover {
                background: #e591b4;
                .edit-section__header {
                  color: white;
                }
              }
            }

            .Public.shrink-card {
              .edit-section__error--container {
                .edit-section__profile-photo {
                  display: none;
                }
              }
            }

            .expand-card {
              height: 80%;
              transition: all 0.4s;
              .edit-section__header {
                height: 10%;
              }
              .edit-section__error--container {
                height: 35%;
              }
              .edit-section__form--container {
                height: 55%;
                opacity: 1;
                visibility: visible;
              }
            }

            .Songs.expand-card {
              height: 80%;
              transition: all 0.4s;
              .edit-section__header {
                height: 5%;
              }
              .edit-section__error--container {
                height: 0%;
              }
              .edit-section__form--container {
                height: 95%;
              }
            }
          }
        }
      }

      .edit-profile__btns {
        @include flexCenter(13%, 100%, 0, center, center, row);

        .edit-profile__btns--bs-outset {
          @include flexCenter(81%, 96%, 0.3em 0.3em 2em 2em, space-evenly, center, row);
          box-shadow: 3px 3px 3px #535353, -2px -2px 2px #d5d5d5;
          background: #939393;

          .edit-profile__btns--bs-inset {
            @include flexCenter(85%, 97%, 100vh, center, center, row);
            box-shadow: inset 2px 2px 3px #6a6a6a, inset -2px -2px 3px #c4c4c4;

            .edit-profile__btns--container {
              @include flexCenter(100%, 100%, 0, space-evenly, center, row);

              .edit-profile__btn--container {
                @include flexCenter(100%, 20%, 0, flex-start, center, row);

                .edit-profile__btn {
                  @include flexCenter(75%, 95%, 100vh, center, center, row);
                  background: linear-gradient(315deg, #2ec291, #68d3b0);
                  box-shadow: 2px 2px 3px #545454, -1px -1px 2px #ffffff;
                  color: $base-color;
                  font-weight: bold;
                  font-size: 0.85rem;
                }

                &.Clear {
                  .edit-profile__btn {
                    background: initial;
                    font-weight: normal;
                    font-size: 0.8rem;
                    margin-left: 0.5em;

                    &:active {
                      background: #828282;
                      box-shadow: inset 2px 2px 3px #555555, inset -2px -2px 2px #aeaeae;
                    }
                    &:hover {
                      background: #828282;
                    }
                  }
                }

                &.Submit {
                  justify-content: center;
                  width: stretch;
                  .edit-profile__btn {
                    &:active {
                      background: linear-gradient(45deg, #2ec291, #68d3b0);
                      box-shadow: inset 2px 2px 3px #186048, inset -2px -2px 2px #c2ffeb;
                    }
                    &:hover {
                      background: #229b73;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.image-crop {
  @include flexCenter(100%, 100%, 0, center, flex-start, row);
  position: absolute;
  top: 0;
  z-index: 5;
  background: rgb(0 0 0 / 70%);

  .image-crop__modal {
    @include flexCenter(auto, 90%, 0.3em, center, center, column);
    background: linear-gradient(136deg, #b1b1b1 0%, #747474 100%);
    margin-top: 2%;
    padding: 2% 0%;
    .image-crop__modal--bs-inset {
      @include flexCenter(96%, 96%, 1.4em 1.4em 1.6em 1.6em, space-between, center, column);
      box-shadow: inset 2px 2px 3px #6a6a6a, inset -2px -2px 3px #c4c4c4;

      .image-crop__header {
        @include flexCenter(50px, 100%, 0, center, center, row);

        .image-crop__header--bs-outset {
          @include flexCenter(80%, 96%, 1.2em 1.2em 0.2em 0.2em, center, center, row);
          box-shadow: 2px 2px 3px #6a6a6a, -1px -1px 3px #ebebeb;

          .image-crop__header--bs-inset {
            @include flexCenter(84%, 97%, 3em, space-between, center, row);
            box-shadow: inset 2px 2px 3px #6a6a6a, inset -1px -1px 3px #ebebeb;

            .image-crop__header-btn--container {
              @include flexCenter(100%, 40%, 0.2em, center, center, row);

              .image-crop__header-btn {
                @include flexCenter(70%, 90%, 2em, center, center, row);
                box-shadow: 2px 2px 3px #6a6a6a, -1px -1px 3px #ebebeb;
                color: $base-color;
              }

              &.Close {
                width: 17%;
                justify-content: flex-end;
                button {
                  width: 89%;
                }
              }

              &.Header {
                width: 83%;

                div {
                  width: 94%;

                  p {
                    width: 100%;
                    text-indent: 5%;
                    font-size: 0.95rem;
                  }
                }
              }
            }
          }
        }
      }

      .image-crop__image {
        @include flexCenter(auto, 100px, 0.3em, center, center, row);
        background: black;
        overflow: hidden;

        img {
          height: 100%;
          width: 100%;
        }
        &.Portrait {
          @include flexCenter(250px, auto, 1em, center, center, row);
        }
        &.Landscape {
          @include flexCenter(auto, 250px, 1em, center, center, row);
        }
      }

      .image-crop__save-btn--container {
        @include flexCenter(50px, 100%, 0, center, center, row);

        .image-crop__save-btn--bs-outset {
          @include flexCenter(80%, 96%, 0.2em 0.2em 1.3em 1.3em, center, center, row);
          box-shadow: 2px 2px 3px #595959, -1px -1px 3px #dcdcdc;

          .image-crop__save-btn--bs-inset {
            @include flexCenter(82%, 97%, 0.2em 0.2em 1.2em 1.2em, center, center, row);
            box-shadow: inset 2px 2px 3px #575757, inset -1px -1px 3px #f4f4f4;

            .image-crop__save-btn {
              @include flexCenter(73%, 95%, 2em, center, center, row);
              box-shadow: 2px 2px 3px #6a6a6a, -1px -1px 3px #ebebeb;
              color: $base-color;
              background: linear-gradient(45deg, #2ec291, #68d3b0);
            }
          }
        }
      }
    }
  }
}
