.Navbar {
  @include flexCenter(9%, 100%, 0px, center, center, column);
  position: absolute;
  bottom: 0;
  z-index: 2;
  background: linear-gradient(0deg, #000000 0%, #000000, #000000c9, #232323b0 100%);

  .navbar__upper {
    @include flexCenter(80%, 100%, 0, center, center, column);

    .navbar__upper--bs-outset {
      @include flexCenter(85%, 97%, 0.1em 2em 0.1em 2em, center, center, row);
      box-shadow: 1px 1px 3px 0px #454545, -1px -1px 3px #585858;

      .navbar__upper--bs-inset {
        @include flexCenter(80%, 94%, 2em, space-evenly, center, row);
        box-shadow: inset 1px 1px 3px 0px #363636, inset -2px -2px 3px #323232;

        .navbar-btn-container {
          @include flexCenter(100%, 25%, 0, center, center, column);

          .navbar-btn_shadow-div-inset {
            @include flexCenter(75%, 88%, 2em, center, center, row);
            box-shadow: 1px 1px 3px 0px #454545, -1px -1px 3px #343434;

            &.btn-selected {
              background: $primary-color-300;
              img {
                filter: $svg-color-base;
              }
            }
            &:hover {
              background: $primary-color-200;
            }
          }

          .navbar-btn-text {
            @include flexCenter(15%, 100%, 0px, center, center, column);
            font-size: 11px;
            color: #ff8ebd;
            display: none;
          }
        }
      }
    }
  }
  .navbar__lower {
    @include flexCenter(20%, 89%, 0, center, center, row);

    .navbar__lower-title {
      @include flexCenter(100%, 25%, 0, center, center, column);

      .navbar__lower-title-text {
        font-size: 0.8rem;
        color: #d7d7d7;
      }
    }
  }

  &.light-variant {
    background: none;
    .navbar__upper {
      .navbar__upper--bs-outset {
        box-shadow: 1px 1px 3px 0px #646464, -1px -1px 3px #f3f3f3;
        .navbar__upper--bs-inset {
          box-shadow: inset 1px 1px 3px 0px #555555, inset -2px -2px 3px #f1f1f1;
          .navbar-btn-container {
            .navbar-btn_shadow-div-inset {
              box-shadow: 1px 1px 3px 0px #595959, -1px -1px 3px #f1f1f1;
            }
          }
        }
      }
    }
  }

  &.mid-variant {
    background: none;
    .navbar__upper {
      .navbar__upper--bs-outset {
        box-shadow: 1px 1px 3px 0px #323232, -1px -1px 3px #c7c7c7;
        .navbar__upper--bs-inset {
          box-shadow: inset 1px 1px 3px 0px #3e3e3e, inset -2px -2px 3px #828282;
          .navbar-btn-container {
            .navbar-btn_shadow-div-inset {
              box-shadow: 1px 1px 3px 0px #3e3e3e, -1px -1px 3px #adadad;
            }
          }
        }
      }
    }
  }
}
