.comments__list {
  @include flexCenter(97%, 98%, 0.4em 0.4em 0.4em 2.6em, flex-start, center, column);
  overflow-y: scroll;
  background: linear-gradient(313deg, #383737, #767676);
  box-shadow: inset 3px 3px 3px #303030, inset -2px -2px 2px 0px #303030;
  padding-bottom: 2%;

  .comments__item {
    width: 96%;
    border-radius: 0.4em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 2%;
    box-shadow: inset 2px 2px 4px #313131, inset -2px -2px 3px #777777;

    .comment-list-inner {
      @include flexCenter(auto, 100%, 0, space-evenly, flex-start, row);

      .comment-list-photo {
        @include flexCenter(100%, 18%, 0, center, center, row);
        // padding-top: 1.5%;

        .comment-photo-inner {
          @include flexCenter(86%, 86%, 0.3em 2em 2em 2em, center, center, column);
          // margin: 0.4em;
          box-shadow: inset 2px 2px 3px #2f2f2f, inset -1px -1px 3px #c4c4c4;

          .comment-photo-outer {
            @include flexCenter(77%, 77%, 100%, center, center, row);
            // margin: 5px;
            box-shadow: 1px 1px 3px #232323, -1px -1px 2px #c4c4c4;

            .comment-photo__photo--wrapper {
              @include flexCenter(95%, 95%, 100vh, center, stretch, row);
              overflow: hidden;
              object-fit: contain;
              img {
                border-radius: 100%;
              }
            }
          }
        }
      }

      .comments__text--container {
        @include flexCenter(auto, 82%, 0, center, flex-start, column);

        .comments__text--shadow-outset {
          @include flexCenter(auto, 97%, 2em 0.3em 2em 0.5em, center, center, column);
          box-shadow: 2px 2px 3px #2f2f2f, -1px -1px 3px #9b9b9b;
          margin-top: 3%;

          .comments__user-details {
            // 30px 96
            @include flexCenter(18px, 100%, 0, flex-end, center, row);
            margin: 1% 0% 1% 0%;

            .comments__user-details--bs-inset {
              @include flexCenter(100%, 100%, 1em 0.2em 1em 0.2em, flex-start, center, row);
              margin-left: 1.2em;

              .comments__user-title--container {
                @include flexCenter(85%, auto, 3em 0.2em 5em 3em, center, center, row);
                padding-left: 3%;

                .comments__user-title {
                  @include flexCenter(85%, auto, 1em 0.2em 1em 0.2em, center, center, row);
                  color: $primary-color-300;
                  margin: 0% 2% 0% 2%;
                }
                .comments__user-title-icon {
                  @include flexCenter(90%, 2em, 1em 0.2em 1em 0.2em, center, center, row);
                }

                &.Author {
                  box-shadow: inset 2px 2px 3px #823756, inset -1px -1px 2px #ffd6e7;
                  background: $primary-color-300;
                  padding-left: 5%;
                  .comments__user-title {
                    color: $base-color;
                  }
                }
              }

              .comments__date {
                width: 90%;
                margin-left: 2%;
                font-size: 0.7rem;
                color: $primary-color-200;
                text-align: start;
                line-height: 1;
              }
            }
          }

          .comments__comment {
            height: fit-content;
            width: 90%;
            text-align: start;
            color: white;
            word-wrap: break-word;
            font-size: 0.75rem;
            line-height: 1;
            // margin-bottom: 5px;
            margin: 0.3em 0em 0.4em 0em;
          }
        }
      }
    }

    .comments__actions--container {
      @include flexCenter(1.7em, 100%, 0, flex-start, center, row);
      margin: 2% 0% 2% 0%;

      .space-filler {
        @include flexCenter(100%, 18%, 0, center, center, row);
      }

      .comments__actions {
        @include flexCenter(100%, 82%, 0, flex-start, center, row);

        .comments__actions--shadow-inset {
          @include flexCenter(100%, 97%, 30px 5px 5px 30px, flex-start, center, row);
          box-shadow: inset 2px 2px 4px #2b2b2b, inset -2px -2px 2px #858484;
          // padding-left: 2%;

          .comments__btn--container {
            @include flexCenter(100%, 25%, 0px, flex-start, center, row);
            // margin-left: 2%;
            // margin-right: 1%;

            .comments__btn {
              @include flexCenter(70%, 91%, 2px, flex-start, center, row);
              box-shadow: 2px 2px 3px #303030, -1px -1px 3px #909090;
              // padding: 0.15em 0.4em;

              .comments__btn-icon {
                @include flexCenter(100%, 45%, 0, center, center, row);
                // box-shadow: 2px 2px 3px #3d3f3f, -2px -2px 3px #939597;
                // margin: 0em 0.4em;

                img.Reply {
                  height: 0.9rem;
                }
                img.Like {
                  height: 1.2rem;
                }
                img.Edit {
                  height: 1.2rem;
                  width: 1.2rem;
                }
                img.Delete {
                  height: 1.3rem;
                  width: 1.3rem;
                }
              }

              &:active {
                background: #606060;
                box-shadow: inset 2px 2px 3px #353535, inset -2px -2px 2px #858585;
              }
              &:hover {
                background: #6f6f6f;
                box-shadow: 2px 2px 3px #383838, -1px -1px 3px #b3b3b3;
              }

              .comments__btn-text--container {
                @include flexCenter(100%, 55%, 0, flex-start, center, row);

                .comments__btn-text {
                  color: pink;
                  font-size: 0.55rem;
                }
                .comments__btn-reply-icon {
                  @include flexCenter(100%, 45%, 0, center, center, row);
                  margin-left: 0.3em;
                }
              }
              &.Like {
                margin-left: 7%;
                width: 85%;
              }
              &.isLiked {
                background: #ec6aa0;
                box-shadow: 2px 2px 3px #303030, -1px -1px 3px #c6c6c6;
                .comments__btn-icon {
                  img {
                    filter: invert(100%) sepia(3%) saturate(0%) hue-rotate(293deg) brightness(107%) contrast(103%);
                  }
                }
              }
            }

            .comment-like-btn-pressed {
              box-shadow: 2px 2px 3px #3e2c33, -2px -2px 2px #ffcae0;
              background: #ec6aa0;

              .comments__btn-icon {
                img {
                  filter: invert(100%) sepia(3%) saturate(0%) hue-rotate(293deg) brightness(107%) contrast(103%);
                }
              }

              &:active {
                background: #606060;
                box-shadow: inset 2px 2px 3px #353535, inset -2px -2px 2px #858585;
                transition: all 0.3s ease-in;
              }
            }
          }
          .clc-2 {
            justify-content: flex-start;
          }

          .comment-popout-container {
            @include flexCenter(auto, 30%, 8px, flex-start, center, row);
            box-shadow: 0px 0px 0px #686a6b, 0px 0px 0px #686a6b;
            position: relative;

            .clc-3,
            .clc-4 {
              .clb-3,
              .clb-4 {
                @include flexCenter(26px, 26px, 50px, center, center, row);
              }
            }
            .dot-menu {
              @include flexCenter(100%, 30px, 0px, center, center, column);
              position: absolute;
              right: 11px;

              .dots {
                height: 9px;
                width: 9px;
                border-radius: 50px;
                box-shadow: inset 2px 2px 1px #3b3b3b, inset -2px -2px 1px #949292;
              }
            }
          }
        }
      }
    }
  }

  //class to apply on list item being EDITED
  .highlight {
    background: #e24f8c;
    box-shadow: inset 2px 2px 4px #7a3250, inset -2px -2px 3px #ffbdd9;
    .comment-list-inner {
      .comment-list-photo {
        .comment-photo-inner {
          box-shadow: inset 2px 2px 4px #7a3250, inset -2px -2px 3px #ffbdd9;
          .comment-photo-outer {
            box-shadow: 2px 2px 4px #7a3250, -2px -2px 3px #ffbdd9;
          }
        }
      }
      .comments__text--container {
        .comments__text--shadow-outset {
          box-shadow: 2px 2px 4px #7a3250, -2px -2px 3px #fba3c8;
          .comments__user-details {
            .comments__username {
              color: #ffbdd9;
              span {
                color: #fe83b6;
              }
            }
          }
          .comments__comment {
            color: #fe83b6;
          }
        }
      }
    }
    .comments__actions--container {
      .comments__actions {
        .comments__actions--shadow-inset {
          box-shadow: inset 2px 2px 4px #7a3250, inset -2px -2px 3px #ffbdd9;
          .comments__btn--container {
            .comments__btn {
              box-shadow: 2px 2px 4px #7a3250, -1px -1px 3px #ffbdd9;

              .comments__btn-icon {
                img {
                  filter: invert(100%) sepia(3%) saturate(0%) hue-rotate(293deg) brightness(107%) contrast(103%);
                }
              }
              .comments__btn-text--container {
                .comments__btn-text {
                  color: #ff9fc7;
                }
              }
            }
            .comments__btn.Edit {
              background: #d43a7a;
              box-shadow: inset 2px 2px 4px #7a3250, inset -1px -1px 3px #ffbdd9;
            }
          }
        }
      }
    }
  }
}

.comments__list {
  .comments__item-reply {
    @include flexCenter(auto, 100%, 0, center, center, row);
    box-shadow: 0px 5px 20px #000000a8;
    padding-bottom: 2%;
  }

  .comments__item-reply-list {
    @include flexCenter(80%, 82%, 0, flex-start, center, column);
    align-self: end;
    margin-top: 2%;
    overflow: scroll;

    .comments__item {
      border-radius: 0.4em 0.4em 0.4em 2em;
      background: #888888;
      box-shadow: inset 2px 2px 4px #2e2e2e, inset -2px -2px 3px #cecece;

      .comment-list-inner {
        .comment-list-photo {
          .comment-photo-inner {
            box-shadow: inset 2px 2px 4px #555555, inset -2px -2px 3px #c6c6c6;
          }
        }
        .comments__text--container {
          .comments__text--shadow-outset {
            box-shadow: 1px 1px 3px #4d4d4d, -1px -1px 3px #d1d1d1;
          }
        }
      }
      .comments__actions--container {
        .comments__actions {
          .comments__actions--shadow-inset {
            box-shadow: inset 2px 2px 4px #555555, inset -2px -2px 3px #c6c6c6;
            .comments__btn--container {
              .comments__btn {
                box-shadow: 2px 2px 3px #666666, -1px -1px 3px #c6c5c5;
              }
            }
          }
        }
      }
    }
  }
}
