.button-icons {
  height: 100%;
  width: 100%;
  filter: invert(42%) sepia(65%) saturate(2055%) hue-rotate(310deg) brightness(100%) contrast(98%);
}

.social-icons {
  height: 100%;
  width: 100%;
  filter: invert(42%) sepia(65%) saturate(2055%) hue-rotate(310deg) brightness(100%) contrast(98%);
}
.si-follow {
  height: 2.5em;
  width: 2.5em;
  margin: 0px 0px 2px 2px;
}
.si-like {
  height: 1.6em;
  width: 1.6em;
}
.si-comment {
  height: 1.3em;
  width: 1.3em;
  margin-left: 1px;
}

.home-record {
  height: 2.2em;
  width: 2.2em;
  filter: invert(80%) sepia(14%) saturate(1272%) hue-rotate(111deg) brightness(96%) contrast(89%);
}

.bi-play {
  margin-left: 0.15em;
}
.edit {
  height: 1.9em;
  width: 1.9em;
}
.logout {
  height: 1.7em;
  width: 1.7em;
}
.follow-social {
  font-size: 2em;
}
.si-send {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}

.ButtonClearText {
  @include flexCenter(100%, 0%, 0, center, center, row);
  transition: width 0.3s;
  position: relative;

  .btn-clear--shadow-inset {
    @include flexCenter(70%, 70%, 100vh, center, center, row);
    box-shadow: inset 3px 3px 5px #282828, inset -2px -2px 2px 0px #bcbaba;
    opacity: 1;

    .btn-clear--shadow-outset {
      @include flexCenter(73%, 73%, 100vh, center, center, row);
      box-shadow: 3px 3px 5px #282828, -2px -2px 2px 0px #bcbaba;

      img {
        height: 90%;
        width: 90%;
      }
      &:hover {
        background: #afafaf;
        box-shadow: #525252 2px 2px 3px, #e8e8e8 -1px -1px 2px 0px;
      }
      &:active {
        box-shadow: inset #525252 2px 2px 3px, inset #c7c7c7 -1px -1px 2px 0px;
      }
    }
  }
}

.ButtonShowPassword {
  @include flexCenter(100%, auto, 100vh, center, center, column);
  position: absolute;
  right: 4%;

  .show-password-btn {
    @include flexCenter(70%, auto, 100vh, center, center, column);
    box-shadow: 2px 2px 2px #777777, -1px -1px 2px #eeeeee;

    img {
      height: 100%;
      width: 100%;
    }

    &:active {
      box-shadow: inset 2px 2px 3px #6e6e6e, inset -2px -2px 3px #d6d6d6;
    }
  }
}

.PlayButton__wrapper {
  @include flexCenter(100%, 100%, 100vh, center, center, row);

  .PlayButton {
    @include flexCenter(74%, 74%, 100vh, center, center, row);
    box-shadow: 2px 2px 3px #464646, -1px -1px 2px 0px #b7b7b7;
    background: #ec6aa0;

    img {
      height: 85%;
      width: 85%;
      filter: invert(100%) sepia(3%) saturate(0%) hue-rotate(293deg) brightness(107%) contrast(103%);
    }
    img.bi-play {
      margin-left: 10%;
    }
    img.bi-pause {
      margin-left: 3%;
    }
    &:active {
      box-shadow: none;
    }
    &:hover {
      background: #e24f8c;
    }
  }
}

.RoundButton__wrapper {
  @include flexCenter(100%, 100%, 100vh, center, center, row);

  .RoundButton__inset {
    @include flexCenter(auto, auto, 100vh, center, center, row);
    box-shadow: inset 2px 2px 3px #313131, inset -1px -1px 2px #b5b5b5;
    padding: 5px;
  }
}
.RoundButton {
  @include flexCenter(75%, 75%, 100vh, center, center, row);
  box-shadow: 2px 2px 3px #313131, -1px -1px 2px #b5b5b5;

  &.Primary {
    background: $primary-color-300;
    box-shadow: 2px 2px 3px #6c4656, -1px -1px 2px #ffdceb;
  }
  &.Secondary {
    background: $secondary-color-300;
    box-shadow: 2px 2px 3px #1a483a, -1px -1px 2px #b5ffe5;
  }
  &.Initial {
    // box-shadow: 2px 2px 3px #565656, -1px -1px 2px #e8e8e8
  }
}

.marquee-wrapper {
  @include flexCenter(75%, 92%, 0em 0em 1.4em 0em, flex-start, center, row);
  // position: absolute;
  overflow: hidden;

  .song-title-marquee {
    font-size: 0.95rem;
    color: white;
    font-weight: bold;
    white-space: nowrap;
    text-align: start;
    span {
      font-size: 0.95rem;
      color: $primary-color-200;
      font-weight: 500;
    }
  }
}

.marquee--animation {
  .song-title-marquee {
    animation: floatText 5s linear infinite;
    padding-left: 30%;
    display: inline-block;
  }
}
