/* ------------------------------ Comment Pop Up menu ------------------------------------------*/
.CommentMenu {
  // flex-start
  @include flexCenter(80%, 100%, 1.5em 0em 0em 0em, space-between, center, column);
  background: linear-gradient(0deg, #a09e9e 0%, #b9b9b9 100%);
  box-shadow: 0px -10px 15px rgb(0 0 0 / 64%);
  position: absolute;
  bottom: 0;
  z-index: 2;
  // transition: height 0.5s ease-out;

  .comments__list--container {
    // height: 77%;
    @include flexCenter(stretch, 100%, 0, center, center, column);
    overflow: hidden;

    .comments__list--shadow-outset {
      @include flexCenter(98%, 97%, 0.5em 0.5em 0.5em 3em, center, center, column);
      box-shadow: 2px 3px 4px #414141, -2px -2px 3px #ffffff;

      .comments__list--shadow-inset {
        @include flexCenter(98%, 97%, 0.4em 0.4em 0.4em 2.9em, center, center, column);
        box-shadow: inset 2px 2px 3px #3d3f3f, inset -2px -3px 2px #ffffff;
        overflow: hidden;

        //.comments__list > ./Comments/_CommentsList.scss
      }
    }
  }

  .comments__header--container {
    @include flexCenter(8%, 100%, 0, center, center, column);
    min-height: 35px;

    .comments__header--shadow-outset {
      @include flexCenter(85%, 97%, 5em 0.5em 0.5em 5em, center, center, row);
      box-shadow: 2px 2px 3px #414141, -1px -1px 3px #ffffff;

      .comments__header--shadow-inset {
        @include flexCenter(83%, 98%, 100vh, center, center, row);
        box-shadow: inset 2px 2px 3px #3d3f3f, inset -2px -3px 2px #ffffff;

        .comments__header-btn--container {
          @include flexCenter(100%, 10%, 0, center, center, row);

          .comments__header-btn {
            @include flexCenter(68%, 80%, 10em, center, center, row);
            box-shadow: 2px 2px 3px #414141, -1px -1px 3px #ffffff;

            &.Close {
              img {
                height: 90%;
                width: 90%;
              }
            }
            &.Comment {
              width: 84%;
              border-radius: 10em;
              background: #ec6aa0;

              .comments__header-icon {
                @include flexCenter(70%, 70%, 0, center, center, row);
                img {
                  filter: invert(100%) sepia(3%) saturate(0%) hue-rotate(293deg) brightness(107%) contrast(103%);
                }
              }
              // p {
              //   color: white;
              //   font-size: 0.8rem;
              //   line-height: 1;
              // }
            }
            &:active {
              box-shadow: inset 2px 2px 3px #434343, inset -2px -3px 2px #dfdfdf;
            }
            &:hover {
              background: #e6a8c3;
              img {
                filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
              }
            }
          }
        }

        .comments__back-btn--container {
          @include flexCenter(100%, 18%, 0, center, center, row);

          .comments__back-btn {
            @include flexCenter(68%, 80%, 10em, center, center, row);
            box-shadow: 2px 2px 3px #414141, -1px -1px 3px #ffffff;

            &:active {
              box-shadow: inset 2px 2px 3px #434343, inset -2px -3px 2px #dfdfdf;
            }
            &:hover {
              background: #e6a8c3;
              img {
                filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
              }
            }
          }
        }

        .comments__title--container {
          @include flexCenter(100%, 90%, 0, center, center, row);

          .comments__title--shadow-outset {
            @include flexCenter(68%, 97%, 10em, flex-start, center, row);
            box-shadow: 2px 2px 3px #414141, -1px -1px 3px #ffffff;
            position: relative;

            .comments__text {
              // width: 32%;
              color: white;
              text-align: start;
              font-size: 13px;
              font-weight: 500;
              margin: 0% 3%;
            }

            p {
              font-size: 12px;
              color: #efbfbf;
            }
            .comments__header-toggle-fullscreen {
              @include flexCenter(14px, 70px, 0, center, center, row);
              position: absolute;
              top: -2px;
              left: 40%;

              .comments__header-toggle-fullscreen--bs-inset {
                @include flexCenter(80%, 100%, 0em 0em 1em 1em, center, center, row);
                box-shadow: inset 1px 1px 2px #353434, inset -1px -1px 2px #ffffff;
                background: #a4a4a4;

                .comments__header-toggle-fullscreen-btn {
                  @include flexCenter(30%, 80%, 10em, center, center, row);
                  box-shadow: 1px 1px 2px #414141, -1px -1px 2px #ffffff;
                  background: #b9b9b9;
                }
              }
            }
          }
        }
      }
    }
  }

  .comments__header-actions {
    // height 15%
    @include flexCenter(auto, 100%, 0, center, center, column);

    .comments__header-actions--bs-outset {
      @include flexCenter(96%, 97%, 0.2em, space-between, center, column);
      box-shadow: 2px 2px 3px #595959, -1px -1px 2px #ffffff;

      .comments__item--reply-wrapper {
        @include flexCenter(auto, 100%, 0, center, center, column);

        // comment item styles for reply menu
        .comments__item {
          width: 97%;
          margin: 1% 0% 1% 0%;
          border-radius: 0.2em;
          box-shadow: inset 1px 1px 3px #343434, inset -1px -1px 3px #ffffff;
          .comment-list-inner {
            .comment-list-photo {
              .comment-photo-inner {
                box-shadow: inset 1px 1px 3px #343434, inset -1px -1px 3px #ffffff;
                .comment-photo-outer {
                  box-shadow: 1px 1px 3px #343434, -1px -1px 3px #ffffff;
                }
              }
            }
            .comments__text--container {
              .comments__text--shadow-outset {
                box-shadow: 1px 1px 3px #343434, -1px -1px 3px #ffffff;
              }
            }
          }
          .comments__actions--container {
            .comments__actions {
              .comments__actions--shadow-inset {
                box-shadow: inset 1px 1px 3px #343434, inset -1px -1px 3px #ffffff;
                .comments__btn--container {
                  .comments__btn {
                    box-shadow: 1px 1px 3px #343434, -1px -1px 3px #ffffff;
                  }
                }
              }
            }
          }
        }
      }

      .comments__header-actions-sort {
        @include flexCenter(45%, 97%, 0, flex-start, center, row);
        padding-left: 3%;

        .comments__header-actions-sort-btn--container {
          @include flexCenter(100%, auto, 0, center, center, row);
          margin-right: 2%;

          .comments__header-actions-sort-btn {
            @include flexCenter(auto, auto, 2em, center, center, row);
            box-shadow: 1px 1px 3px #595959, -1px -1px 2px #ffffff;
            color: $base-color;
            font-size: 0.8rem;
            padding: 0.5em;

            &.selected {
              background: $primary-color-300;
              box-shadow: inset 1px 1px 3px #633a4b, inset -1px -1px 2px #ffe2ee;
            }
          }
        }
      }

      .comments__header-actions-text {
        // height 55%
        @include flexCenter(45px, 100%, 0, center, center, row);
        margin-bottom: 1%;

        .comments__header-actions-text--bs-outset {
          @include flexCenter(90%, 97%, 2em 3em 0.2em 2em, center, center, row);
          box-shadow: 2px 2px 3px #636363, -1px -1px 2px #ffffff;

          .comment-input__input-photo {
            @include flexCenter(auto, 11%, 0, center, center, row);

            .comment-input__input-photo--bs-inset {
              @include flexCenter(32px, 32px, 100%, center, center, row);
              box-shadow: 2px 2px 3px #636363, -1px -1px 2px #ffffff;

              .comment-input__input-photo--bs-outset {
                @include flexCenter(90%, 90%, 100%, center, center, row);
                box-shadow: inset 1px 1px 3px #4a4a4a, inset -2px -2px 2px #ffffff;

                .comment-input__input-photo--wrapper {
                  @include flexCenter(75%, 75%, 100%, center, center, row);
                  overflow: hidden;
                }
              }
            }
          }
          .comments__header-actions-input--container {
            @include flexCenter(100%, 89%, 0, flex-start, center, row);

            .comments__header-actions-input {
              @include flexCenter(75%, 96%, 2em, center, center, column);
              box-shadow: inset 2px 2px 3px #4d4d4d, inset -1px -1px 2px #ffffff;
              background: linear-gradient(307deg, #666666, #878787);
              text-indent: 4%;

              &::placeholder {
                color: #cbcbcb;
                font-size: 0.85rem;
                text-indent: 4%;
              }
              &:focus {
                outline: none;
                color: $primary-color-300;
                border: 2px solid $primary-color-200;
              }
            }
          }
        }
      }
    }
  }
}

.show-menu {
  height: 40%;
  z-index: 5;
  transition: height 0.3s ease-in;

  .comments__list--container {
    opacity: 1;
    transition: opacity 0.2s 0.2s;
  }
  .comments__header--container {
    opacity: 1;
  }
}

.hide-menu {
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: height 0.5s ease-in, border-radius 0.5s ease-in, opacity 0.1s 0.5s, visibility 0.1s 0.5s;

  .comments__list--container {
    opacity: 0;
    transition: opacity 0.2s;
  }
  .comments__header--container {
    opacity: 0;
    transition: opacity 0.2s 0.5s;
  }
}

// stick input that will appear above mobile keyboard
.CommentInputModal {
  @include flexCenter(auto, 100%, 0.5em 0.5em 0em 0em, center, center, row);
  min-height: 45px;
  background: linear-gradient(0deg, #a09e9e 0%, #b9b9b9 100%);
  box-shadow: 0px -10px 30px #000000ba;
  padding: 0.4em 0em 0.4em 0em;
  bottom: 0;
  z-index: 5;

  .comment-input__form {
    @include flexCenter(auto, 97%, 0.35em 0.35em 2em 0.8em, center, flex-start, row);
    box-shadow: inset 2px 2px 3px #505050, inset -2px -2px 2px #ffffff;
    padding: 0.4em 0em 0.4em 0em;

    .comment-input__input-photo {
      @include flexCenter(auto, 15%, 0, center, center, row);

      .comment-input__input-photo--bs-inset {
        @include flexCenter(32px, 32px, 100%, center, center, row);
        box-shadow: 2px 2px 3px #636363, -1px -1px 2px #ffffff;

        .comment-input__input-photo--bs-outset {
          @include flexCenter(90%, 90%, 100%, center, center, row);
          box-shadow: inset 1px 1px 3px #4a4a4a, inset -2px -2px 2px #ffffff;

          .comment-input__input-photo--wrapper {
            @include flexCenter(75%, 75%, 100%, center, center, row);

            overflow: hidden;
          }
        }
      }
    }

    .comment-input__input--container {
      @include flexCenter(auto, 75%, 0, flex-start, center, row);

      .comment-input__input {
        font-size: 0.95rem;
        height: auto;
        min-height: 30px;
        max-height: 90px;
        width: 93%;
        border-radius: 0.3em 0.3em 1.5em 0.5em;
        border: 2px solid #afafaf;
        padding: 2%;
        background: #686a6b;
        box-shadow: inset 3px 3px 3px #494949, inset -2px -2px 2px #ffffff;

        &:defined {
          color: pink;
        }
        &::placeholder {
          color: #adadad;
          font-size: 1rem;
        }
        &:focus {
          border: 2px solid #ff7fb4;
          outline: none !important;
          color: white;
          border-radius: 0.3em 0.3em 1.5em 0.5em;
          box-shadow: inset 2px 2px 3px #5f4650, inset -2px -2px 2px #ffdeec;
          padding-left: 2%;
        }
      }
    }

    .comment-input__header {
      @include flexCenter(auto, 10%, 0, center, center, row);

      .comment-input__btn {
        @include flexCenter(100%, 95%, 0, flex-start, center, row);

        &--submit {
          @include flexCenter(40px, 82%, 0.3em 0.3em 2.5em 0.3em, flex-start, flex-start, row);
          box-shadow: 2px 2px 3px #545454, -2px -1px 2px #e7e7e7;
          background: #ec6aa0;

          img {
            height: 88%;
            width: 88%;
            margin-left: 0.1em;
          }

          &:active {
            box-shadow: inset 2px 2px 3px #783853, inset -1px -1px 2px #ffffff;
          }
          &:hover {
            background: #e24f8c;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 500px) {
  .CommentInputModal {
    width: (100vh * 0.5625);
  }
}
