.Loading {
  @include flexCenter(100%, 100%, 0, center, flex-start, row);
  background: linear-gradient(345deg, #212121, #606060);
  position: absolute;
  top: 0;

  .loading-background {
    @include flexCenter(10em, 95%, .7vh, center, center, row);
    background: linear-gradient(323deg, #414141, #7d7d7d);
    box-shadow: -2px 6px 40px #121212;
    margin-top: 2.5em;

    .loading_shadow-div-inset {
      @include flexCenter(92%, 97%, 0.5vh 0.5vh 10vh 10vh, center, center, row);
      box-shadow: inset 3px 3px 3px #434343, inset -2px -2px 3px #787878;

      .loading_shadow-div-outset {
        @include flexCenter(90%, 96%, 0.5vh 0.5vh 9vh 9vh, center, center, row);
        box-shadow: 3px 3px 3px #353535, -2px -2px 3px #9f9f9f;

        .loading-circle_shadow-div-inset {
          @include flexCenter(7em, 7em, 100vh, center, center, row);
          box-shadow: inset 4px 4px 7px #3a3a3a, inset -3px -3px 6px #828282;
      
          .loading-circle_shadow-div-outset {
            @include flexCenter(75%, 75%, 100vh, center, center, row);
            box-shadow: 5px 5px 6px #393939, -2px -2px 4px #979797;  

            .loading-bubble-container {
              @include flexCenter(87%, 87%, 100vh, center, center, row);
              box-shadow: inset 5px 5px 5px #2d5e54, inset -3px -3px 5px #8af3dc;
              position: relative;
              background: linear-gradient(317deg, #106e5a, #8af3dc);
              border: 1px solid #939393;  

              .loading-center {
                @include flexCenter(65%, 65%, 100vh, center, center, row);
                background: #6e6e6e;
                box-shadow: 4px 4px 5px #2d5e54, -3px -3px 5px #8af3dc;
              }
              .bubble-traveller {
                background: #c7ffee;
                box-shadow: inset 1px 1px 1px #ffffff, inset -1px -1px 4px #12745e;
                height: 12px;
                border: 1px solid #216550;
                width: 12px;
                border-radius: 50px;
                position: absolute;
                top: 0%;
                right: 41%;
                animation: circleLoader 1.5s infinite ease;
              }
            }
          }
        }
      }
    }
  }
}

.LoadingSongScreen {
  height: 50%;
  top: 14%;
  
  .loading-background {
    height: 42%;
  }
}

.loading {
  position: absolute;
  background: linear-gradient(117deg, #14ba98, #8af3dc);
  background-size: 200% 100%;
  box-shadow: inset 2px 2px 4px #2d5e54, inset -2px -2px 3px #8af3dc;
	animation: gradient 1s ease infinite;
}
.loading-btn {
  height: 85%;
  width: 92%;
  border-radius: 3px;
}
.loading-pic {
  height: 93%;
  width: 96%;
  border-radius: 45px 6px 6px 46px;
}
.loading-title {
  height: 100%;
  width: 100%;
  border-radius: 10px 25px 25px 10px;
  z-index: 1;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
@keyframes circleLoader {
  0% {
    top: 0%;
    right: 41%;
  } 
  5% {
    top: 2%;
    right: 28%;
  }
  10% {
    top: 7%;
    right: 18%
  }
  15% {
    top: 13%;
    right: 12%
  }
  20% {
    top: 23%;
    right: 5%
  }
  25% {
    top: 41%;
    right: 0%;
  }
  30% {
    top: 56%;
    right: 4%
  }
  35% {
    top: 67%;
    right: 10%
  }
  40% {
    top: 74%;
    right: 20%
  }
  45% {
    top: 77%;
    right: 26%
  }
  50% {
    top: 81%;
    right: 41%
  } 
  55% {
    top: 76%;
    right: 60%
  }
  60% {
    top: 70%;
    right: 68%;
  }
  65% {
    top: 60%;
    right: 75%
  }
  70% {
    top: 55%;
    right: 78%
  }
  75% {
    top: 41%;
    right: 81%;
  } 
  80% {
    top: 27%;
    right: 77%
  }
  85% {
    top: 17%;
    right: 72%
  }
  90% {
    top: 9%;
    right: 63%;
  }
  95% {
    top: 4%;
    right: 55%
  }
  100% {
    top: 0%;
    right: 41%;
  }
}