.NavBar {
  @include flexCenter(10%, 100%, 0px, space-between, stretch, column);
  position: relative;
  bottom: 10%;
  z-index: 2;

  .navbar_section {
    @include flexCenter(100%, 100%, 4.8vh 4.8vh 0vh 0vh, center, center, row);
    background: linear-gradient(352deg, #4f4f4f 0%, #757575 100%);
    box-shadow: 0px -8px 30px 0px #222222;

    .navbar_shadow-div-outset {
      @include flexCenter(
        85%,
        97%,
        4.5vh 4.5vh 0.5vh 0.5vh,
        center,
        center,
        row
      );
      box-shadow: 4px 6px 5px 0px #393939, -2px -2px 2px #989898;

      .navbar_shadow-div-inset {
        @include flexCenter(88%, 97%, 100vh, space-evenly, center, row);
        box-shadow: inset 3px 3px 4px 0px #363535, inset -2px -2px 2px #808080;

        .navbar-btn-container {
          @include flexCenter(80%, 22.5%, 0.2em, center, center, column);
          // box-shadow: 3px 3px 6px #363535, -2px -2px 2px #8c8c8c;

          .navbar-btn_shadow-div-inset {
            // 90 50
            @include flexCenter(83%, 88%, 0.2em, center, center, row);
          }

          .navbar-btn-text {
            @include flexCenter(15%, 100%, 0px, center, center, column);
            font-size: 11px;
            color: #ff8ebd;
            display: none;
          }
          &.Home--navbar {
            border-radius: 2.5em 0.3em 0.3em 2.5em;
            .navbar-btn_shadow-div-inset {
              border-radius: 2em 0.2em 0.2em 2em;
            }
          }
          &.Profile--navbar {
            border-radius: 0.3em 2.5em 2.5em 0.3em;
            .navbar-btn_shadow-div-inset {
              border-radius: 0.2em 2em 2em 0.2em;
            }
          }
        }
      }
    }
  }
}

.NavBarProfile {
  position: absolute;
  bottom: 0%;
}
// toggle class for Home, Profile, and Search when UNSELECTED
.btn-unselected {
  background: initial;
  // box-shadow: 2px 2px 5px #888888, -3px -3px 3px #ffffff;
  box-shadow: 3px 3px 6px #363535, -2px -2px 2px #8c8c8c;
  border: none;
  // transition: all .4s;
  .navbar-btn_shadow-div-inset {
    // height: 2.6rem;
    // width: 2.5rem;
    // box-shadow: inset 2px 2px 3px 0px #3e3e3e, inset -2px -2px 3px #6e6e6e;
    box-shadow: inset 1px 1px 3px 0px #3e3e3e, inset -1px -1px 3px #9d9d9d;

    // transition: all .4s;
    .navbar-btn_shadow-div-outset {
      box-shadow: 2px 2px 3px 0px #929292, -2px -2px 3px #ffffff;
      img {
        filter: invert(42%) sepia(65%) saturate(2055%) hue-rotate(310deg)
          brightness(100%) contrast(98%);
      }
    }
  }
  &:hover {
    background: #ec6aa0;
    box-shadow: 3px 3px 6px #3b3b3b, -1px -1px 2px #cecece;
    .navbar-btn_shadow-div-inset {
      box-shadow: inset 2px 2px 3px 0px #a54e72, inset -2px -2px 3px #efa2c2;
      button {
        box-shadow: 2px 2px 3px #9a4468, -1px -1px 2px #e6e6e6;

        img {
          filter: $svg-color-base;
        }
      }
    }
  }
}

// toggle class for Home, Profile, and Search when either is SELECTED
.btn-selected {
  background: #ec6aa0;
  // box-shadow: inset 2px 2px 3px #855d6e, inset -2px -2px 3px #f4c4d8;
  // box-shadow: inset 2px 2px 3px #883f5e, inset -2px -2px 3px #ffd6e7;
  box-shadow: inset 1px 1px 3px #6b2f49, inset -1px -1px 3px #ffe9f2;
  border: 1px solid #ec6aa0;
  transition: all 0.3s;
  .navbar-btn_shadow-div-inset {
    // height: 2.3rem;
    // width: 2.3rem;
    // box-shadow: #a4416a 2px 2px 3px 0px inset, #f4c4d8 -2px -2px 3px inset;
    // box-shadow: #993b62 2px 2px 2px 0px, #e992b6 -2px -2px 2px;
    box-shadow: #b7547d 2px 2px 3px 0px, #f9b2d0 -1px -1px 2px;

    .RoundButton__wrapper {
      .RoundButton {
        box-shadow: inset 1px 1px 3px #922c58, inset -1px -1px 3px #ffbad6;
        img {
          filter: invert(100%) sepia(3%) saturate(0%) hue-rotate(293deg)
            brightness(107%) contrast(103%);
        }
      }
    }
    .navbar-btn_shadow-div-outset {
      box-shadow: none;
      img {
        filter: invert(100%) sepia(3%) saturate(0%) hue-rotate(293deg)
          brightness(107%) contrast(103%);
      }
    }
  }
  &:hover {
    background: #f6a3c5;
    // box-shadow: inset 2px 2px 3px #7f636f, inset -2px -2px 3px #fff0f6;
    .navbar-btn_shadow-div-inset {
      // box-shadow: #a9748a 2px 2px 2px 0px, #fdc7dd -2px -2px 2px;
      box-shadow: #673a4d 1px 1px 3px 0px, #ffe2ed -1px -1px 2px;
      .RoundButton__wrapper {
        .RoundButton {
          box-shadow: inset 1px 1px 3px #ac6684, inset -1px -1px 3px #ffffff;
        }
      }
    }
  }
}
