.side-btn-menu__menu {
  @include flexCenter(100%, 16%, 0, flex-start, flex-start, column);

  .side-btn-menu__menu--bs-inset {
    @include flexCenter(75%, 80%, 3em, center, center, column);
    background: linear-gradient(323deg, #808080 0%, #b8b8b8 100%);
    border: 2px solid #b8b8b8;
    box-shadow: inset 2px 2px 3px 0px #313131, inset -1px -1px 3px #ffffff;
    z-index: 1;
    margin-top: 0.5em;

    .side-btn-menu__menu-list {
      @include flexCenter(97%, 88%, 3em, flex-start, center, column);
      position: relative;
    }
  }
}

// .recording-booth__side-menu-item {
//   @include flexCenter(40px, 100%, 3em, center, center, column);

//   .recording-booth__side-menu-btn {
//     @include flexCenter(90%, 90%, 3em, center, center, column);
//     box-shadow: 2px 2px 3px #5e5e5e, -1px -1px 3px #f6f6f6;
//     color: $base-color;
//     font-size: 0.7em;

//     &.Pressed {
//       box-shadow: inset 1px 1px 3px #61273f, inset -1px -1px 3px #fffafc;
//       background: $primary-color-200;
//     }
//     &:hover {
//       background: $primary-color-200;
//     }
//     &:active {
//       box-shadow: inset 1px 1px 3px #61273f, inset -1px -1px 3px #fffafc;
//       background: $primary-color-200;
//     }
//   }
// }
