.side-btn-menu__menu--container {
  @include flexCenter(43%, 16%, 0, center, flex-end, column);
  // @include flexCenter(100%, 16%, 0, flex-start, flex-start, column);
  position: absolute;
  right: 0;
  top: 32%;

  .side-btn-menu__menu--bs-inset {
    @include flexCenter(90%, 80%, 3em, center, center, column);
    // @include flexCenter(75%, 80%, 3em, center, center, column);
    background: linear-gradient(323deg, #808080 0%, #b8b8b8 100%);
    border: 3px solid #b8b8b8;
    box-shadow: inset 2px 2px 3px 0px #313131, inset -1px -1px 3px #ffffff;
    z-index: 1;
    margin-top: 0.5em;

    .side-btn-menu__menu-list {
      @include flexCenter(98%, 88%, 3em, flex-start, center, column);
      position: relative;

      .side-btn-menu__menu-item {
        @include flexCenter(60px, 100%, 3em, center, center, column);

        .side-btn-menu__menu-item-btn {
          @include flexCenter(40px, 40px, 3em, center, center, column);
          box-shadow: 2px 2px 3px #5e5e5e, -1px -1px 3px #f6f6f6;
          color: $base-color;
          font-size: 0.7em;

          &.HasUser {
            background: $primary-color-300;
          }

          &.Pressed {
            box-shadow: inset 1px 1px 3px #61273f, inset -1px -1px 3px #fffafc;
            background: $primary-color-200;
          }
          &:hover {
            background: $primary-color-200;
          }
          &:active {
            box-shadow: inset 1px 1px 3px #61273f, inset -1px -1px 3px #fffafc;
            background: $primary-color-200;
          }
        }
        .side-btn-menu__menu-item-text {
          font-size: 0.75rem;
          color: $base-color;
        }
      }
    }
  }
}
