.DefaultPhotoPlaceholder {
  @include flexCenter(100%, 100%, 0, center, center, row);
  background: $primary-color-400;

  img {
    height: 100%;
    width: 100%;
  }
  .def-photo-ph__initial {
    color: $base-color;
  }
}
