.profile-songs__item {
  min-height: 125px;
  width: 97%;
  margin-bottom: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2.8em 0.5em 1.8em 0.5em;
  box-shadow: inset 2px 2px 3px #545454, inset -2px -2px 2px #969595;
  scroll-snap-align: start;
  scroll-snap-stop: always;

  &:hover {
    background: #ec6aa0;
    box-shadow: inset 2px 2px 2px 0px #823958, inset -2px -2px 2px #ffd5e6;
    .profile-songs__body {
      .profile-songs__header {
        .profile-songs__header--shadow-outset {
          box-shadow: 2px 2px 2px 0px #a84a72, -1px -1px 2px #ffbfda;

          .profile-songs__user-photo {
            .profile-songs__user-photo--bs-inset {
              box-shadow: inset 2px 2px 3px 0px #ad3868, inset -1px -1px 3px #ee99bd;
              .profile-songs__user-photo--bs-inset-2 {
                box-shadow: inset 2px 2px 3px 0px #ad3868, inset -1px -1px 3px #ee99bd;
                .profile-songs__user-photo--wrapper {
                  box-shadow: inset 2px 2px 3px 0px #ad3868, inset -1px -1px 3px #ee99bd;
                }
              }
            }
          }
          .profile-songs__details {
            .profile-songs__title {
              .profile-songs__title-text {
                color: white;
              }
            }
            .profile-songs__song-info {
              .profile-songs__text--container {
                p {
                  color: #e0e0e0;
                }
              }
              .profile-songs__social-data {
                .profile-songs__social-data--container {
                  .profile-songs__social-data--bs-inset {
                    box-shadow: inset 2px 2px 3px 0px #c45080, inset -1px -1px 3px #f39ec2;
                    .profile-songs__social-data-icon {
                      img {
                        filter: $svg-color-base;
                      }
                    }
                  }
                }
              }
            }
          }
          .profile-songs__action-btns {
            .profile-songs__action-btns--bs-inset {
              .profile-songs__action-btn--container {
                box-shadow: inset 2px 2px 3px 0px #c45080, inset -1px -1px 3px #f39ec2;
                button {
                  box-shadow: 2px 2px 3px #a73464, -1px -1px 2px 0px #fab6d2;
                }
              }
            }
          }
        }
      }
      .profile-songs__lyrics--container {
        .profile-songs__lyrics {
          .profile-songs__lyrics--bs-outset {
            box-shadow: 2px 2px 2px 0px #a84a72, -1px -1px 2px #ffbfda;
            .profile-songs__lyrics-expand {
              .profile-songs__lyrics-expand-btn {
                .RoundButton__wrapper {
                  .RoundButton__inset {
                    box-shadow: inset 2px 2px 3px 0px #c45080, inset -1px -1px 3px #f39ec2;
                    button {
                      box-shadow: 1px 1px 3px #a73464, -1px -1px 2px 0px #fab6d2;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    .delete-container {
      box-shadow: 2px 2px 2px 0px #984466, -1px -1px 2px #deb1c3;
      .delete-question-container {
        p {
          color: white;
          span {
            color: #b13c6d;
          }
        }
      }
      .delete-btn-container {
        // box-shadow: 2px 2px 2px 0px #984466, -1px -1px 3px #ffbfd9;

        .delete-btn_shadow-div-inset {
          box-shadow: inset 2px 2px 2px 0px #a84a72, inset -2px -2px 2px #ffbfda;
          .cancel-btn-container {
            .cancel-btn_shadow-div-outset {
              box-shadow: 2px 2px 2px 0px #984466, -2px -2px 2px #fcaece;
              color: #d1d1d1;

              &:active {
                box-shadow: inset 2px 2px 2px 0px #984466, inset -2px -2px 2px #fcaece;
              }
            }
          }
          .confirm-btn-container {
            .confirm-btn_shadow-div-outset {
              box-shadow: 2px 2px 2px 0px #984466, -2px -2px 2px #fcaece;
              color: white;
              border: 2px solid white;
              &:active {
                background: white;
                color: #ec6aa0;
                border: 2px solid #ffb6d4;
                box-shadow: inset 2px 2px 2px 0px #c06c8e, inset -2px -2px 2px #fcd7e6;
              }
            }
          }
        }
      }
    }
  }

  .profile-songs__body {
    @include flexCenter(100%, 100%, none, center, center, column);

    .profile-songs__header {
      @include flexCenter(60%, 100%, 0px, flex-end, center, column);

      .profile-songs__header--shadow-outset {
        @include flexCenter(93%, 96%, 3em 0.3em 0.3em 3em, center, flex-start, row);
        box-shadow: 2px 2px 3px 0px #545454, -1px -1px 3px #d2d2d2;
        text-decoration: none;

        .profile-songs__user-photo {
          @include flexCenter(100%, 25%, 0, center, center, row);

          .profile-songs__user-photo--bs-inset {
            @include flexCenter(90%, 90%, 100%, center, center, row);
            box-shadow: inset 2px 2px 3px 0px #545454, inset -1px -1px 3px #d2d2d2;

            .profile-songs__user-photo--bs-inset-2 {
              @include flexCenter(85%, 85%, 100%, center, center, row);
              box-shadow: inset 2px 2px 3px 0px #545454, inset -1px -1px 3px #d2d2d2;

              .profile-songs__user-photo--wrapper {
                @include flexCenter(85%, 85%, 100%, center, center, row);

                object-fit: contain;
                overflow: hidden;

                img {
                  height: 100%;
                }
              }
            }
          }
        }

        .profile-songs__details {
          @include flexCenter(100%, 62%, 0, center, center, column);

          .profile-songs__title {
            @include flexCenter(42%, 100%, 0, center, flex-start, column);

            .profile-songs__text {
              width: 90%;
              text-indent: 2%;
              text-align: start;
              line-height: 1;

              &.title {
                color: $base-color;
                font-size: 0.9rem;
                font-weight: bold;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }
              &.user {
                font-size: 0.8rem;
                color: $primary-color-200;
              }
              &.date {
                font-size: 0.7rem;
                color: #d6d6d6;
              }
            }
            &:hover {
              background: $primary-color-200;
              border-radius: 0.2em;
            }
          }

          .profile-songs__song-info {
            @include flexCenter(58%, 100%, 0, flex-start, flex-start, column);

            .profile-songs__caption--container {
              @include flexCenter(30%, 100%, 0, flex-start, flex-start, column);

              .profile-songs__caption {
                height: 100%;
                width: 95%;
                font-size: 0.8rem;
                color: #c2c2c2;
                white-space: nowrap;
                text-align: start;
                text-indent: 2%;
                overflow: hidden;
                text-overflow: ellipsis;
              }
            }

            .profile-songs__social-data {
              @include flexCenter(70%, 100%, 0, flex-start, flex-start, row);

              .profile-songs__social-data--container {
                @include flexCenter(100%, auto, 0, center, center, row);
                min-width: 20%;

                .profile-songs__social-data--bs-inset {
                  @include flexCenter(80%, 90%, 0.2em, center, center, row);

                  box-shadow: inset 1px 1px 2px 0px #676767, inset -1px -1px 2px #b0b0b0;

                  .profile-songs__social-data-number {
                    @include flexCenter(100%, auto, 0, center, flex-end, column);
                    padding: 0% 0% 0% 8%;
                    .profile-songs__number-text {
                      color: $base-color;
                      font-size: 0.7rem;
                      width: fit-content;
                    }
                  }
                  .profile-songs__social-data-icon {
                    @include flexCenter(100%, 30px, 0, center, center, column);

                    &.Comment {
                      padding-top: 5%;
                    }
                  }
                }
              }
            }
          }
        }
        .profile-songs__action-btns {
          @include flexCenter(100%, 13%, 0, flex-end, flex-start, row);

          .profile-songs__action-btns--bs-inset {
            @include flexCenter(100%, 91%, 0, space-between, center, column);
            padding: 2% 0%;

            .profile-songs__action-btn--container {
              @include flexCenter(42%, 100%, 2em, center, center, row);
              box-shadow: inset 1px 1px 3px 0px #3b3b3b, inset -1px -1px 3px #d2d2d2;

              .profile-songs__action-btn {
                @include flexCenter(90%, 90%, 0, center, center, row);

                &.Play {
                  height: 87%;
                  width: 87%;
                }
              }
              &.Play {
                margin-bottom: 7%;
              }
              &.Delete {
                margin-top: 7%;
              }
            }
          }
        }
      }
    }

    .profile-songs__lyrics--container {
      @include flexCenter(40%, 100%, 0, center, center, row);

      .profile-songs__lyrics-edit {
        @include flexCenter(100%, 15%, 0, center, center, row);

        button {
          &:hover {
            background: $primary-color-300;
          }
        }
      }
    }
  }
}

// Lyrics
.profile-songs__lyrics {
  @include flexCenter(100%, 85%, 0, center, center, row);

  .profile-songs__lyrics--bs-outset {
    @include flexCenter(83%, 96%, 0.5em 3em 3em 0.5em, flex-start, center, row);
    box-shadow: 2px 2px 3px 0px #545454, -1px -1px 3px #d2d2d2;

    .profile-songs__lyrics--wrapper {
      @include flexCenter(100%, 83%, 0, center, flex-start, column);

      .profile-songs__lyrics-title {
        @include flexCenter(35%, 100%, 0, center, flex-start, column);

        .profile-songs__title-text {
          margin-left: 2%;
          font-size: 0.8rem;
          color: $base-color;
        }
      }

      .profile-songs__lyrics-text {
        @include flexCenter(65%, 95%, 0, center, flex-start, column);

        .profile-songs__lyrics-list {
          @include flexCenter(85%, 95%, 0, flex-start, flex-start, column);

          color: #ffb2bf;
          overflow-y: scroll;
          text-align: start;
          margin-left: 2%;

          .profile-songs__lyrics-line {
            @include flexCenter(initial, 100%, 15px, flex-start, flex-start, row);
            line-height: 1;

            .profile-songs__lyrics-line-text {
              font-size: 0.65rem;
              color: #ffb2bf;
              margin-right: 1%;
            }
            .profile-songs__lyrics-line-text.no {
              font-size: 0.6rem;
              color: #c2c2c2;
              margin-right: 1%;
            }
          }
        }
      }
    }

    .profile-songs__lyrics-expand {
      @include flexCenter(100%, 17%, 0, center, center, column);

      .profile-songs__lyrics-expand-btn {
        @include flexCenter(85%, 85%, 0, center, center, column);

        .RoundButton__wrapper {
          .RoundButton__inset {
            box-shadow: inset 1px 1px 3px 0px #242424, inset -1px -1px 3px #d9d9d9;
            button {
              box-shadow: 1px 1px 3px 0px #3d3d3d, -1px -1px 2px #d2d2d2;
              &:hover {
                background: $primary-color-200;
                box-shadow: 1px 1px 3px #8c224e, -1px -1px 2px 0px #ffffff;
              }
            }
          }
        }
      }
    }
  }
}

.profile-songs__item.Expanded {
  min-height: auto;
  height: auto;

  .profile-songs__lyrics.Expanded {
    @include flexCenter(auto, 97%, 2.4em 0.2em 1.5em 0.2em, center, center, column);
    box-shadow: 2px 2px 2px 0px #505050, -2px -2px 2px #aaaaaa;
    margin: 1.5% 0%;
    .profile-songs__lyrics--bs-outset {
      height: auto;
      width: 99%;
      box-shadow: none;
      .profile-songs__lyrics--wrapper {
        height: auto;
        width: 88%;
        .profile-songs__lyrics-title {
          height: 25px;
          p {
            margin-left: 10%;
          }
        }
        .profile-songs__lyrics-text {
          height: auto;
          margin: 1% 0%;
          .profile-songs__lyrics-list {
            height: auto;
          }
        }
      }
      .profile-songs__lyrics-expand {
        width: 12%;
        align-self: flex-start;
        margin-top: 1%;
      }
    }
  }
  &:hover {
    .profile-songs__lyrics.Expanded {
      box-shadow: 2px 2px 2px 0px #a84a72, -1px -1px 2px #ffbfda;
    }
    .profile-songs__lyrics--bs-outset {
      .profile-songs__lyrics-expand {
        .profile-songs__lyrics-expand-btn {
          .RoundButton__wrapper {
            .RoundButton__inset {
              box-shadow: inset 2px 2px 3px 0px #c45080, inset -1px -1px 3px #f39ec2;
              button {
                box-shadow: 1px 1px 3px #a73464, -1px -1px 2px 0px #fab6d2;
              }
            }
          }
        }
      }
    }
  }
}
