@mixin flexCenter(
  $height: 100%,
  $width: 100%,
  $border-radius: none,
  $justify: center,
  $align: center,
  $direction: row
) {
  height: $height;
  width: $width;
  border-radius: $border-radius;
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import "0-base/colors";
@import "0-base/layout";
@import "1-pages/AuthLogin";
@import "1-pages/Home";
@import "1-pages/LoadingHome";
@import "1-pages/Profile";
@import "1-pages/Profile/ProfileItem";
@import "1-pages/PostRecording";
@import "1-pages/RecordingBooth/RecordingBooth";
@import "1-pages/RecordingBooth/RecordSettingsModals";
@import "1-pages/RecordingBooth/LyricFeed";
@import "1-pages/Search";
@import "1-pages/EditLyrics";
@import "1-pages/SongScreen";
@import "1-pages/LoadingSong";
@import "2-components/Video";
@import "2-components/NavBar";
@import "2-components/UI";
@import "2-components/DotMenu";
@import "2-components/Icons";
@import "2-components/Comments";
@import "2-components/Comments/CommentsList";
@import "2-components/SongPost";
@import "2-components/Buttons";
@import "2-components/Text";
@import "2-components/Loading";
@import "2-components/ErrorModal";
@import "2-components/EditProfile";
@import "2-components/RecordingBoothModal";
@import "2-components/SaveSongModal";
@import "2-components/SelectMenuModal";
@import "2-components/ContinueModal";
@import "2-components/UserPhoto";
@import "3-helpers/mixins";
